<%= link_to(new_bookmark_path(document_id: document.id, document_type: document.class.to_s), remote: true, "data-type" => "json", class: "bookmark") do %>
  <span class="glyphicon glyphicon-bookmark"></span> Bookmark
<% end %>