<%= link_to(bookmarks_path(document_id: document.id, document_type: document.class.to_s), remote: true, method: :post, "data-type" => "json", class: "bookmark") do %>
  <span class="glyphicon glyphicon-bookmark"></span> <span class="bookmark-text">Bookmark</span>
<% end %>