<%= link_to(clear_bookmarks_path(ids: [bookmark.id]), :method => :delete, remote: true, class: "bookmark", id: "#{bookmark.document_type}_#{bookmark.document_id}") do %>
  <span class="glyphicon glyphicon-bookmark"></span> <span class="bookmark-text">Bookmark</span>
<% end %>
