<% content_for :head do %>
  <%= stylesheet_link_tag "extras", media: "all" %>
  <%= javascript_include_tag "extras" %>
<% end %>
<div ng-controller="ManageBookmarks" ng-init='search_term = "<%= params[:tag] %>"'>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1><span class="glyphicon glyphicon-bookmark"></span> Bookmarks</h1>
  </div>
  <div class="col-sm-12">
    <p>This page shows the <b>Entries</b>, <b>Sources</b>, <b>Manuscript Records</b>, and <b>Name Authority Records</b> you have bookmarked. You can tag records with keywords by clicking on the "Add Tag" button at the bottom of each Bookmark display. Your tags will also appear in your dashboard for easy retrieval of tagged records.</p>
    <h5>How to create a Bookmark:</h5>
    <ol>
      <li>
        Click the <strong><span class="glyphicon glyphicon-bookmark"></span> Bookmark</strong> icon where it appears in an <b>Entry</b>, <b>Source</b>, <b>Manuscript Record</b>, or <b>Name Authority Record</b> 'Tools', in the left-sidebar control panel.
      </li>
      <li>
        To view your bookmarks, click the <b>Bookmarks</b> icon in the left-sidebar control panel. You must be logged in to view your bookmarks.
      </li>
    </ol>
  </div>
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#Entry" data-toggle="tab">Entries <span class="badge">{{ all_bookmarks_display["Entry"].length }}</span></a></li>
      <li><a href="#Manuscript" data-toggle="tab">Manuscript Records <span class="badge">{{ all_bookmarks_display["Manuscript"].length }}</span></a></li>
      <li><a href="#Source" data-toggle="tab">Sources <span class="badge">{{ all_bookmarks_display["Source"].length }}</span></a></li>
      <li><a href="#Name" data-toggle="tab">Names <span class="badge">{{ all_bookmarks_display["Name"].length }}</span></a></li>
      <li><a href="#DericciRecord" data-toggle="tab">De Ricci Record <span class="badge">{{ all_bookmarks_display["DericciRecord"].length }}</span></a></li>
      <li class="pull-right">
        <span class="input-group">
          <input type="text" class="form-control" name="tag-search" placeholder="Filter By Tag..." size=32 ng-model="search_term" ng-keyup="$event.keyCode == 13 && searchTag(search_term)">
          <span class="input-group-btn">
            <a href="" class="btn btn-primary bookmark-search" ng-click="searchTag(search_term)"><span class="glyphicon glyphicon-tag"></span> Filter</a>
            <a href="" class="btn btn-default" ng-click="searchTag('')"><span>Clear</span></a>
          </span>
        </span>
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <div class="tab-content">
      <div class="tab-pane fade" ng-class="{'in active' : name == 'Entry'}" id="{{ name }}" ng-repeat="(name, bookmarks) in all_bookmarks_display" style="padding-top: 10px;">
        
        <p class="text-muted text-center">You have {{ bookmarks.length }} bookmark{{ bookmarks.length == 1 ? '' : 's' }} of this type
          <span ng-if="tagSearch && tagSearch.length > 0"> with the tag <span class="btn btn-primary btn-xs" ng-click="searchTag(tagSearch)">{{ tagSearch }}</span></span>
        </p>

        <div class="row">
          <div class="col-sm-12" ng-repeat="bookmark in bookmarks">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong><a href="{{ bookmark.link }}">{{ bookmark.public_id }}</a></strong>
              <a class='remove-bookmark control-bookmark pull-right' ng-click="removeBookmark(name, bookmark)" title="Remove bookmark">
                <span class="glyphicon glyphicon-remove"></span>
              </a> 
            </div>
            <div class="panel-body">
              <dl class="document-metadata dl-horizontal dl-invert">
                <dt ng-repeat-start="(key, value) in bookmark.details track by $index">{{ key }}</dt>
                <dd ng-repeat-end>{{ value }}</dd>
              </dl>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-sm-7">
                  <ul class="list-inline" style="margin-bottom: 0px;">
                    <li class=""><span class="btn btn-xs"><span class="glyphicon glyphicon-tag"></span> Tags</span> </li>
                    <li ng-if="bookmark.tags.length <= 0" class="text-muted">This bookmark has no tags.</li>
                    <li ng-repeat="tag in bookmark.tags" class="btn-group">
                      <a class="btn btn-default btn-xs" ng-class="{'btn-primary' : tag == tagSearch}" href="" ng-click="searchTag(tag);">{{ tag }}</a>
                      <a href="" class='btn btn-default btn-xs remove-bookmark-tag-confirm small' ng-click="removetag(bookmark, tag)" title="Remove tag '{{ tag }}'"><span class="glyphicon glyphicon-remove"></span></a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-5 text-right">
                  <a ng-show="!bookmark.showAddTag" href="" class="btn btn-xs btn-default btn-add-tag" ng-click="bookmark.showAddTag = !bookmark.showAddTag">
                    <span class="glyphicon glyphicon-plus"></span> Add Tag
                  </a>
                  <div class="form-inline" style="position: absolute; right: 10px; top: -6px;">
                    <div class="input-group add-bookmark-tag" ng-show="bookmark.showAddTag">
                      <div class="input-group-addon">
                        <span class="text-muted">Tag:</span>
                      </div>
                      <input type='text' class='form-control new-bookmark-tag' placeholder="New tag..." ng-model="bookmark.newtag" ng-keyup="$event.keyCode == 13 && addtag(bookmark, bookmark.newtag)">
                      <div class="input-group-btn">
                        <a href="" class="btn btn-default add-bookmark-tag-confirm" ng-click="addtag(bookmark, bookmark.newtag)"><span class="glyphicon glyphicon-plus"></span> Add</a>
                        <a href="" class="btn btn-warning add-bookmark-tag-confirm" ng-click="bookmark.showAddTag = !bookmark.showAddTag">Cancel</a>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>