<div ng-controller="ManageBookmarks">
<div class="row">
  <div class="col-sm-12">
    <h2 class="h2">My Bookmarks
      <small class="pull-right">
        <div class="form-inline clearfix navbar-form">
          <label for="" class="control-label">Filter By Tag:  
            <input type="text" class="form-control" name="tag-search" ng-model="tagSearch" ng-keyup="$event.keyCode == 13 && searchTag(tagSearch)">
          </label>
        </div>
      </small>
    </h2>
  </div>
</div>
<div class="row" ng-repeat="(name, bookmarks) in all_bookmarks" style="border-bottom: 1px dotted #eee; padding: 10px 0px;">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="h3">
          <span data-toggle="collapse" href="#bookmarks_{{name}}">{{ name }}(s)</span>
          <a class="pull-right"><span class="glyphicon glyphicon-floppy-save" title="Export to CSV" ng-click="exportBookmarks(name, bookmarks[0].link)"></span></a>
        </span><br>
        <span class="text-muted">{{ bookmarks.length }} bookmarked</span>
      </div>  
    </div>
  </div>
  <div class="col-sm-9">
    <div>
      <ul class="list-group collapse in manage_bookmarks list-group-no-border list-group-no-padding" id="bookmarks_{{ name }}">
        <li class="list-group-item text-muted" ng-if="bookmarks.length <= 0">
          <dl class="document-metadata dl-horizontal dl-invert">
              <dt></dt>
              <dd>
                No <strong>{{ name }} Records</strong> are saved in your bookmarks.
              </dd>
          </dl>
        </li>
        <li class="list-group-item" ng-repeat="bookmark in bookmarks">
              <dl class="document-show-heading dl-horizontal dl-invert">
                  <dt></dt>
                  <dd class="h4">
                    <div class="row">
                      <strong class="col-sm-4"><a href="{{ bookmark.link }}">{{ bookmark.public_id }}</a></strong>
                      <div class="col-sm-8 text-right">
                        <div class="form-inline">
                          <div class="input-group add-bookmark-tag" ng-show="bookmark.showAddTag">
                            <input type='text' class='form-control' placeholder="add tag..." ng-model="bookmark.newtag" ng-keyup="$event.keyCode == 13 && addtag(bookmark, bookmark.newtag)">
                            <a class="input-group-addon add-bookmark-tag-confirm" ng-click="addtag(bookmark, bookmark.newtag)"><span class="glyphicon glyphicon-plus"></span></a>
                          </div>
                          <a class="tag-bookmark" ng-click="bookmark.showAddTag = !bookmark.showAddTag"><span class="glyphicon glyphicon-tag"></span></a>
                          <a class='remove-bookmark control-bookmark' ng-click="removeBookmark(name, bookmark)">
                            <span class="glyphicon glyphicon-trash"></span>
                          </a>
                        </div> 
                      </div>
                    </div>
                  </dd>
              </dl>
              <div ng-bind-html="bookmark.details"></div>
              <dl class="document-metadata dl-horizontal dl-invert">
                <dt>Tags</dt>
                <dd class="h4">
                  <ul class="list-inline">
                    <li>
                      <span class="bookmark-tag text-primary" ng-repeat="tag in bookmark.tags">{{ tag }}<span class='remove-bookmark-tag-confirm small' ng-click="removetag(bookmark, tag)"><span class="glyphicon glyphicon-remove"></span></span>
                      </span>
                    </li>
                  </ul>
                </dd>
              </dl>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>