<div class="row">
  <div class="col-sm-12">
    <h2 class="h2">My Bookmarks</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter by tag..." name="tag" />
      <a class="input-group-addon">Filter</a>
    </div>
  </div>
  <div class="col-sm-6 text-right">
    <div class="btn-group">
      <button href="" class="btn btn-default">Select All</button>
      <button href="" class="btn btn-danger">Delete Selected</button>
      <a title="Export to CSV" class="btn btn-default"><span class='glyphicon glyphicon-save'></span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% @bookmarks_sorted.each do |name, bookmarks| %>
    <ul class="list-group">
      <h3><%= name %> <small>()</small></h3>
      <% bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <%= Bookmark.find(bookmark[:id]).document.to_s %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>