
<div class="row">
    <div class="col-sm-12">
        
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#admin">Admin</a></li>
    </ul>

    <div class="tab-content">
      <div id="admin" class="tab-pane fade in active">
        <%= render partial: "admin" %>
      </div>
    </div>
    
    </div>
</div>
