
<div class="row">
    <div class="col-sm-12">
        
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#admin">Admin</a></li>
    </ul>

    <div class="tab-content">
      <div id="admin" class="tab-pane fade show active">
        <%= render partial: "admin" %>
      </div>
    </div>
    
    </div>
</div>
