<!-- DEPRECATED

<ul class="list-group breadcrumbs">
  <li class="list-group-item breadcrumb active">
    <a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
  </li>
</ul>-->