<% if can? :manage, model_class %>
    <% if (unreviewed_count = model_class.where(reviewed: false).count) > 0 %>
        <br/>(<span style="color: red;"><%= unreviewed_count %> unreviewed</span>)
    <% end %>
<% end %>
