<% if !can?(:manage, Source) %>
<p>This page allows you to update or edit your Sources. Your sources appear in the queue below in reverse chronological order. Use the search box to locate specific sources or groups of sources. Use Jump to ID to quickly find an entry via its ID number.</p>
<% end %>
