<ul class="list-group">
<% details.each do |f, v| %>
  <% if not v.blank? %>
    <li class='list-group-item' type='<%= f %>'>
      <div class="row" type='<%= f %>'>
        <div class="col-sm-2 record-label">
          <%= f.to_s.humanize %>    
        </div>
        <div class="col-sm-10">
          <%= v %>
        </div>
      </div>
    </li  >
  <% end %>
<% end %>
</ul>