<% if source.id %>
    <% if user_signed_in? %>
        <%= render partial: "nav/bookmark_watch", locals: {model: @source } %>
        <% if can?(:edit, source) %> 
            <li class="<%= edit ? 'disabled' : '' %>">
                <a href="<%= merge_source_path(source_id: source) %>" class="<%= source.source_type.id == 8 ? 'disabled text-muted' : '' %>">
                <span class="glyphicon glyphicon-transfer"></span> 
                Merge this source
              </a>
            </li>
        <% end %>
    <% end %>
<% end %>