<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= javascript_include_tag "extras" %>

<style>

.navbar { margin-bottom: 10px; }

#main-container.container-fluid .row { padding-left: 15px; padding-right: 15px; }

.search-fieldset { margin-bottom: 8px; }

</style>
<script type="text/javascript">

$(document).ready(function() {

    var model_class = "sources";

    var getSearchValue = function() {
        return $("input[name='search_value']").val();
    };

    var columns = [
        {
            sdbmssMinWidth: "150px",
            title: 'Options',
            orderable: false,
            render: function (data, type, full, meta) { 
                var str = '<a href="/' + model_class + '/' + data + '/edit/">Edit</a>' +
                          ' &middot; <a href="/entries/new/?source_id=' + data + '">Add an Entry</a>' +
                          ' &middot; <a class="source-delete-link" href="/' + model_class + '/' + data + '.json">Delete</a>';
                // TODO: display delete link only if entries_count is 0
                return str;
            }
        },
        {
            sdbmssMinWidth: "150px",
            title: 'ID',
            width: "10%",
            render: function (data, type, full, meta) { 
                var str = '<a href="/' + model_class + '/' + data + '/">SDBM_SOURCE_' + data + '</a>';
                return str;
            },
        },
        {
            sdbmssMinWidth: "120px",
            title: 'Source Type'
        },
        {
            sdbmssMinWidth: "80px",
            title: '# Entries'
        },
        {
            sdbmssMinWidth: "100px",
            title: 'Date',
            width: "10%"
        },
        {
            sdbmssMinWidth: "400px",
            sdbmssMaxWidth: "400px",            
            title: 'Title',
            width: "70%"
        },
        {
            sdbmssMinWidth: "200px",
            sdbmssMaxWidth: "200px",            
            title: 'Author'
        },
        {
            sdbmssMinWidth: "200px",
            sdbmssMaxWidth: "200px",            
            title: 'Selling Agent'
        },
        {
            sdbmssMinWidth: "200px",
            sdbmssMaxWidth: "200px",            
            title: 'Institution'
        },
        {
            sdbmssMinWidth: "100px",
            title: 'Has MSS'
        },
        {
            sdbmssMinWidth: "150px",
            title: 'Medium'
        },
        {
            sdbmssMinWidth: "100px",
            title: "Date Accessed"
        },
        {
            sdbmssMinWidth: "200px",
            sdbmssMaxWidth: "200px",            
            title: "Institution"
        },
        {
            sdbmssMinWidth: "200px",
            sdbmssMaxWidth: "200px",            
            title: "Location"
        },
        {
            sdbmssMinWidth: "200px",
            sdbmssMaxWidth: "200px",            
            title: "Link"
        },
        {
            sdbmssMinWidth: "300px",
            sdbmssMaxWidth: "300px",            
            title: "Comments"
        }
    ];
    
    // TODO: hacks to tweak the Rails layout: figure out a more elegant way?
    $("#search-navbar").remove();
    // make this page take up full width of browser window
    $("#main-container").removeClass("container").addClass("container-fluid");
    
    $("input[name='search_value']").val("");

    var dataTable = new SDBM.Table(".sdbm-table", {
        ajax: function (sdbmTable, dt_params, callback, settings) {

            var params = {
                title: getSearchValue(),
                offset: dt_params.start,
                limit: dt_params.length,
                order: "id " + dt_params.order[0].dir
            };

            $.ajax({
                url: '/' + model_class + '/search.json',
                data: params,
                success: function(data, textStatus, jqXHR) {
                    if(!data.error) {
                        $(".dataTables_scrollBody").scrollTop(0);
                        var rows = [];
                        data.results.forEach(function(item) {
                            rows.push([
                                item.id,
                                item.id,
                                item.source_type,
                                item.entries_count || 0,
                                item.date,
                                item.title,
                                item.author,
                                item.selling_agent,
                                item.institution,
                                item.whether_mss,
                                item.medium,
                                item.date_accessed,
                                item.location_institution,
                                item.location,
                                item.link,
                                item.comments
                            ]);
                        });
                        callback({
                            draw: dt_params.draw,
                            data: rows,
                            recordsTotal: data.total,
                            recordsFiltered: data.total,
                        });
                    } else {
                        alert("An error occurred fetching search results: " + data.error);
                    }
                },
                error: function() {
                    // TODO: fill this out
                    alert("An error occurred fetching search results");
                }
            });
        },
        columns: columns,
        order: [[ 1, "desc" ]]
    });

    $(".sdbm-table").on("click", ".source-delete-link", function(event) {
        if(confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                url: $(event.target).attr("href"),
                method: 'DELETE',
                success: function(data, textStatus, jqXHR) {
                    dataTable.reload();                    
                },
            });
        }
        return false;
    });
    
    $('#search_submit').click(function() {
        dataTable.reload();
    });

    $('#export-csv').click(function() {
        var url = '/' + model_class + '/search.csv?';
        if(getSearchValue()) {
            url += "title=" + encodeURIComponent(getSearchValue());
        }
        window.location = url;
        return false;
    });
    
});
</script>
<% end %>

<h1>Manage Sources</h1>

<form class="form-horizontal search-form">
    <div class="row form-group search-fieldset original">
        <div class="col-sm-1" style="text-align: right">
            <label class="control-label">Search</label>
        </div>
        <div class="col-sm-4">
            <input class="form-control" name="search_value" value="" size="70" type="text">
        </div>
        <div class="col-sm-1"> <button id="search_submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
            <a id="search_submit" class="btn btn-primary" href="<%= new_source_path %>">Add New Record</a>
        </div>
    </div>
</form>

<table id="search_results" class="sdbm-table table dataTable table-striped table-bordered nowrap compact" width="100%" cellspacing="0">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div style="text-align: right">
    <a id="export-csv" href="#">Export search results as csv</a>
</div>
