<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= javascript_include_tag "extras" %>

<style>

.navbar { margin-bottom: 10px; }

#main-container.container-fluid .row { padding-left: 15px; padding-right: 15px; }

.search-fieldset { margin-bottom: 8px; }

</style>
<script type="text/javascript">

$(document).ready(function() {

    var model_class = "sources";

    var columnOptions = [
        {
            title: 'Options',
            orderable: false,
            render: function (data, type, full, meta) { 
                var str = '<a href="/' + model_class + '/' + data + '">View</a>' +
                          ' &middot; <a href="/' + model_class + '/' + data + '/edit/">Edit</a>' +
                          ' &middot; <a class="delete-link" href="/' + model_class + '/' + data + '.json">Delete</a>';
                if (!full[1]) {
                    str += ' &middot; <a class="delete-link" href="/' + model_class + '/' + data + '.json">Delete</a>';
                }
                return str;
            },
            width: "10%"
        },
        {
            title: 'ID',
            width: "10%"
        },
        {
            title: 'Source Type'
        },
        {
            title: 'Date',
            width: "10%"
        },
        {
            title: 'Title',
            width: "70%"
        },
        {
            title: 'Author'
        },
        {
            title: 'Selling Agent'
        },
        {
            title: 'Institution'
        },
        {
            title: 'Has MSS'
        },
        {
            title: 'Current Location'
        },
        {
            title: "City"
        },
        {
            title: "Country"
        },
        {
            title: "Link"
        },
        {
            title: "Cataloging Type"
        },
        {
            title: "Elec Catalog Format"
        },
        {
            title: "Elec Catalog Publicly Available"
        },
        {
            title: "Comments"
        }
    ];
    
    // TODO: hacks to tweak the Rails layout: figure out a more elegant way?
    $("#search-navbar").remove();
    // make this page take up full width of browser window
    $("#main-container").removeClass("container").addClass("container-fluid");
    
    $("input[name='search_value']").val("");

    $.each(columnOptions, function(idx, column) {
        $(".sdbm-table").find('thead tr').append("<th>" + column.name + "</th>");
    });

    var dataTable = $(".sdbm-table").DataTable({
        autoWidth: false,
        ajax: function (dt_params, callback, settings) {

            var params = {
                term: $("input[name='search_value']").val(),
                offset: dt_params.start,
                limit: dt_params.length,
                order: "name " + dt_params.order[0].dir
            };

            $.ajax({
                url: '/' + model_class + '/search.json',
                data: params,
                success: function(data, textStatus, jqXHR) {
                    if(!data.error) {
                        $(".dataTables_scrollBody").scrollTop(0);
                        var rows = [];
                        data.results.forEach(function(item) {
                            rows.push([
                                item.id,
                                'SDBM_SOURCE_' + item.id,
                                item.source_type,
                                item.date,
                                item.title,
                                item.author,
                                item.selling_agent,
                                item.institution,
                                item.whether_mss,
                                item.current_location,
                                item.location_city,
                                item.location_country,
                                item.link,
                                item.cataloging_type,
                                item.electronic_catalog_format,
                                item.electronic_publicly_available,
                                item.comments
                            ]);
                        });
                        callback({
                            draw: dt_params.draw,
                            data: rows,
                            recordsTotal: data.total,
                            recordsFiltered: data.total,
                        });
                    } else {
                        alert("An error occurred fetching search results: " + data.error);
                    }
                },
                error: function() {
                    // TODO: fill this out
                    alert("An error occurred fetching search results");
                }
            });
        },
        columns: columnOptions,
        language: {
            "emptyTable": "No records found for search query."
        },
        lengthMenu: [25, 50, 100, 200, 500],
        order: [[ 1, "desc" ]],
        scrollX: true,
        scrollY: scrollY,
        scrollCollapse: false,
        // extensions get activated via sDom codes
        sDom: 'C<"clear"><"H"lr>JRt<"F"ip>',
        serverSide: true
    });

    $(".sdbm-table").on("click", ".delete-link", function(event) {
        if(confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                url: $(event.target).attr("href"),
                method: 'DELETE',
                success: function(data, textStatus, jqXHR) {
                    dataTable.ajax.reload();                    
                },
            });
        }
        return false;
    });
    
    $('#search_submit').click(function() {
        dataTable.ajax.reload();
    });
    
});
</script>
<% end %>

<h1>Manage Sources</h1>

<form class="form-horizontal search-form">
    <div class="row form-group search-fieldset original">
        <div class="col-sm-1" style="text-align: right">
            <label class="control-label">Search</label>
        </div>
        <div class="col-sm-4">
            <input class="form-control" name="search_value" value="" size="70" type="text">
        </div>
        <div class="col-sm-1"> <button id="search_submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
            <a id="search_submit" class="btn btn-primary" href="<%= new_source_path %>">Add New Record</a>
        </div>
    </div>
</form>

<table id="search_results" class="sdbm-table table dataTable table-striped table-bordered nowrap compact" width="100%" cellspacing="0">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
