<div class="row">
    <div class="col-sm-3">
        <%= render partial: "tools", locals: {source: @source} %>
    </div>
    <div class="col-sm-9">
        
            <dl class="document-show-heading dl-horizontal dl-invert">
                <dt></dt>
                <dd class='h2'><%= @source.public_id %></dd>
            </dl>
            <%= render partial: "source_details", locals: { source: @source, details: @details } %>
        
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-9">

    <dl class="document-metadata dl-horizontal dl-invert">

        <dt style="white-space: normal;">
            <h3>Comments</h3>
            <p>Share additional information about this source - your comments will be displayed publicly.</p>
        </dt>
        <dd>
            <div class="spacer-40px"></div>
            <%= render partial: "comments/show_all", locals: {comments: @source.comments.where(public: true), record: @source} %>
        </dd>
    </dl>


    </div>
</div>
