<!-- fix me: remove this (and folder) or use it -->
<%= link_to dericci_link.dericci_record.name, dericci_record_path(dericci_link.dericci_record) %> <span class="badge"><%= dericci_link.reliability %></span>
<p><%= dericci_link.other_info %></p>