# Remove these comments before deploying in development.
#
# This file is for use only in the local development environment.
#
# These values are used primarily for the Rails and ruby containers
# running in Lando: Solr, delayed job, and interface, which
# need to communicate with each other, the database, Jena
# and rabbitmq.
RAILS_ENV=development
SDBMSS_APP_HOST=localhost
SDBMSS_SMTP_HOST=mail.somewhere.com
ADMIN_PASSWORD=PASSWORD
RAILS_USER=USER
RAILS_PASS=PASSWORD
RABBIT_PASSWORD=PASSWORD
RABBIT_USER=USER
RABBITMQ_HOST=rabbitmq.sdbmss.internal
SDBMSS_EMAIL_FROM=email@domain.com
SDBMSS_NOTIFY_EMAIL=email@domain.com
SDBMSS_NOTIFY_EMAIL_PASSWORD=PASSWORD
SDBMSS_EMAIL_EXCEPTIONS_TO=email@domain.com
SDBMSS_BLACKLIGHT_SECRET_KEY=SAME_KEY_AS_ENV
SDBMSS_DEVISE_SECRET_KEY=SAME_KEY_AS_ENV
SDBMSS_SECRET_KEY_BASE=SAME_KEY_AS_ENV
SDBMSS_SECRET_TOKEN=SAME_TOKEN_AS_ENV
SOLR_URL=http://solr.sdbmss.internal:8982/solr/development
DB_HOST=db.sdbmss.internal
DB_PORT=3306
