<% if !can?(:manage, Comment) %>
<p>Use this page to manage your Comments. Your comments related to
different entries and manuscript records appear in the queue below in
reverse chronological order. Use the search box to locate a specific
manuscript record.</p>
<% end %>
