<div class="row">
  <div class="col-sm-12">
    <h2 class='text-center'>Downloads</h2>
    <ul class="list-group">
      <% @downloads.each do |d| %>
        <li class="list-group-item"><%= d %></li>
      <% end %>
    </ul>
  </div>
</div>