<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="entry-deprecate-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Deprecate Entry SDBM_<span class="entry-id-to-deprecate"></span></h4>
        </div>
        <div class="modal-body">

            <p>Deprecating this entry will remove it from the search
                results. The single Entry page will still work to
                preserve existing links, but it will show a notice.</p>

            <p>If you enter an ID below, then the Entry page will
                point the user to that record.</p>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="superceded_by_id" class="col-sm-4 control-label">Entry ID that supercedes this one:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="superceded_by_id">
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="deprecate">Deprecate</button>
        </div>
    </div>
  </div>
</div>
