<% if !can?(:manage, Entry) %>
<p>This page allows to change or update your entries. Your entries appear in the queue below in reverse chronological order. Use the search boxes to locate specific entries or groups of entries. Use <b>Jump to ID</b> to quickly find an entry via its SDBM ID number.</p>
<% end %>
    
