<div class="find-source-container">
    <div class="form-group row">
        <label class="col-sm-2 control-label"><span>Source Date</span></label>
        <div class="col-sm-2">
            <input class="form-control" name="date" ng-model="date"/>
        </div>
        <div class="col-sm-4 col-sm-offset-3 label-alignment">
            <span style="color: PaleVioletRed;">Enter a date in YYYY-MM-DD, YYYY-MM or YYYY</span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label"><span>Selling Agent<br/>or Institution/Collection</span></label>
        <div class="col-sm-5">
            <input class="form-control" name="agent" ng-model="agent" data-toggle='tooltip' title='You must type at least 2 characters to begin searching.'/>
        </div>
        <div class="col-sm-5 label-alignment">
            <span style="color: PaleVioletRed;">e.g. Sotheby's, University of Pennsylvania</span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label"><span>Source Title</span></label>
        <div class="col-sm-5">
            <input class="form-control" name="title" ng-model="title"/>
        </div>
        <div class="col-sm-5 label-alignment">
            <span style="color: PaleVioletRed;">e.g. Rare books and manuscripts</span>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <% if utility == "new" %>
            <p><a class="btn btn-primary" href="{{ createSourceURL() }}">Click here to CREATE A NEW SOURCE</a></p>
        <% else %>
            <a href="" class="btn btn-warning" data-ng-click="cancelSelectSource()">Cancel</a>
        <% end %>
    </div>
</div>

<div ng-show="sources.length > 0">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-5 form-inline">
            Showing {{ sources.length }}
            of {{ total }} results.
        </div>
        <div class="col-sm-5 form-inline">
            Sort by
            <select name="" id="find_order" class="form-control" ng-model="order" ng-change="findSourceCandidates()">
                <option value="id asc">Id (asc)</option>
                <option value="id desc">Id (desc)</option>
                <option value="date asc">Date (asc)</option>
                <option value="date desc">Date (desc)</option>
            </select>
            Show
            <select class="form-control" name="find_limit" id="" ng-model="limit" ng-change="findSourceCandidates()">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            results
        </div>
    </div>
    <div ng-repeat="source in sources track by $index">
        <div class="row">
            <label class="col-sm-2 control-label" ng-show="$first">Select a search result:</label>
            <div class="col-sm-2" ng-show="!$first"></div>
            <div class="col-sm-8 label-alignment">
                <% if utility == "new" %>
                    <a ng-class="{'first-source' : $index == 0}" id="create-entry-link-{{ source.id }}" href="{{ sdbmutil.getEntryCreateURL(source.id) }}">{{ source.display_value }}</a> ({{ source.entries_count }} entries)
                <% else %>
                    <a id="modify-entry-source-link" ng-click="setSource(source)">{{ source.display_value }}</a> ({{ source.entries_count }} entries) {{ source.source_type }}
                <% end %>
            </div>
        </div>
    </div>
</div>
<div ng-show="searchAttempted && sources.length == 0">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10"><b>No source found matching your criteria.</b></div>
    </div>
</div>
<div ng-show="!searchAttempted && sources.length == 0">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 text-info"><i>Fill in any of the fields above to begin Search (at least 2 characters)</i></div>
    </div>
</div>
