<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= javascript_include_tag "extras" %>
<% end %>

<% @page_title = "Add an Entry - Identify the Source - " + application_name %>

<div class="form-horizontal sdbmss-form" data-ng-controller="SelectSourceCtrl">

    <div class="row">
        <div class="col-sm-12">
            <legend>Add an Entry - Identify the Source</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>To add a new entry, you first have to identify the
            source from which you are obtaining your data for the
            entry or entries you are creating.</p>

            <p><b>What is a source?</b></p>

            <p>A source is the origin of information for an
            entry. Sources can include auction and sale catalogs,
            collection catalogs, published or unpublished inventories,
            censuses, an individual (you or someone else) who has made
            direct observations about a manuscript(s), etc.</p>

            <p>Always check to see if your source already exists in
            the database so that you do not duplicate effort. You can
            search for a source by filling out known details in the
            form below. As you type, search results will generate,
            becoming more refined as you continue to type. When you
            see your source, click on it. If you do not find your
            source, create a new one. Click here to <a href="/sources/new?create_entry=1">CREATE A NEW
            SOURCE</a>.

            </p>

            <p><em>Tip: The source date is often the best place to
            start looking for a particular sale or publication because
            numbers are often more precise than words.</em></p>
            
        </div>

    </div>

    <div class="find-source-container">
        <div class="form-group row">
            <label class="col-sm-2 control-label"><span sdbm-tooltip="identify_source_source_date">Source Date</span></label>
            <div class="col-sm-2">
                <input class="form-control" name="date" placeholder="YYYY-MM-DD" ng-model="date"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label"><span sdbm-tooltip="identify_source_selling_agent">Selling Agent<br/>or Institution/Collection</span></label>
            <div class="col-sm-6">
                <input class="form-control" name="agent" placeholder="ex: Sotheby's, University of Pennsylvania" ng-model="agent"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label"><span sdbm-tooltip="identify_source_source_title">Source Title</span></label>
            <div class="col-sm-6">
                <input class="form-control" name="title" placeholder="ex: Rare books and manuscripts" ng-model="title"/>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <p><a class="btn btn-primary" href="/sources/new?create_entry=1">Click here to CREATE A NEW SOURCE</a></p>
        </div>
    </div>

    <div ng-show="sources.length > 0">
        <div ng-repeat="source in sources">
            <div class="row">
                <label class="col-sm-2 control-label" ng-show="$first">Select a search result:</label>
                <div class="col-sm-2" ng-show="!$first"></div>
                <div class="col-sm-8 label-alignment">
                    <a id="create-entry-link-{{ source.id }}" href="/entries/new/?source_id={{ source.id }}">{{ source.display_value }}</a> ({{ source.entries_count }} entries)
                </div>
            </div>
        </div>
    </div>
    <div ng-show="searchAttempted && sources.length == 0">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10"><b>No source found matching your criteria.</b></div>
    </div>

</div>
