<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<% end %>

<% @page_title = "Add an Entry - Identify the Source - " + application_name %>

<% content_for :breadcrumbs do %>
  <%= render partial: "catalog/breadcrumbs", locals: {edit: true} %>
  <%= render partial: "breadcrumbs", locals: {source: nil } %> 
<% end %>

<div class="form-horizontal sdbmss-form" id="identify_source" data-ng-controller="SelectSourceCtrl">

    <div class="row">
        <div class="col-sm-12">
            <legend>Add an Entry - Identify the Source</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>To add a new entry, you first have to identify the
            source from which you are obtaining your data for the
            entry or entries you are creating.</p>

            <p><b>What is a source?</b></p>

            <p>A source is the origin of information for an
            entry. Sources can include auction and dealer catalogs,
            collection catalogs, published or unpublished inventories,
            censuses, an individual (you or someone else) who has made
            direct observations about a manuscript(s), etc.</p>

            <p>Always check to see if your source already exists in
            the database so that you do not duplicate effort. You can
            search for a source by filling out known details in the
            form below. As you type, search results will generate,
            becoming more refined as you continue to type. When you
            see your source, click on it. If you do not find your
            source, create a new one.

            </p>

            <p><em>Tip: The <strong>Source Date</strong> is often the best place to
            start looking for a particular sale or publication because
            numbers are often more precise than words.</em></p>
            
        </div>

    </div>

    <%= render partial: "source_selection_form", :locals => {utility: "new"} %>

</div>
