<!-- FIX ME: there's got to be a better way of using the ID number than pattern matching it here? -->
<%= message %>
<% if (message.include?("Name is already used") || message.include?("Viaf is already used")) && !message.include?("deleted") %>
    <% if @model.id %>
      <br>
	    <a href="<%= merge_name_path(@model, target_id: message.match(/\#(\d+)/)[1]) %>">
	    	Click here to merge <%= @model.public_id %> into SDBM_NAME_<%= message.match(/\#(\d+)/)[1] %> instead.
	    </a>
	<% end %>
<% end %>