<%# Partial used to display name details for both Names generically and Agents (which are Names) %>

<%# Why is this in SHARED instead of in NAME?? %>
<div class="row">
    <% content_for :control_tools do %>        
        <%= render partial: 'tools', locals: {edit: false} %>
    <% end %>

    <div class="col-sm-6">

        <dl class="document-show-heading dl-horizontal dl-invert">
            <dt></dt>
            <dd class='h2'><%= name.public_id %></dd>
        </dl>
        <%= render partial: "main", locals: { name: name } %>

    </div>
    <div class="col-sm-5">
        
        <h2 class="text-center"><span class="glyphicon glyphicon-comment"></span> Discussion</h2>
        <p class='text-center text-muted'>Share additional information about this name in the box below. Your comments will be displayed publicly.</[>

        <%= render partial: "comments/show_all", locals: {comments: name.comments.where(public: true), record: name} %>

    </div>

</div>