<% @page_title = "#{@model.public_id}: #{@model.name} - " + application_name %>
<% content_for :breadcrumbs do %>
  <%= render partial: "manage_models/breadcrumbs", locals: {edit: false, last_search: session[:last_name_search]} %>
<% end %>
<% if !@model.reviewed %>
  <div class="alert alert-warning"><span class="glyphicon glyphicon-info-sign"></span> This Name has not yet been reviewed and may not conform to our data standards.</div>
<% end %>
<% if @model.problem %>
  <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Warning! This name has been flagged as problematic and should not be used until it can be brought in line with SDBM Name Authority Standards</div>
<% end %>
<%= render partial: "name", object: @model %>