<div class="panel panel-default">
  <div class="panel-heading text-center" data-toggle="collapse" data-target="#instructions">
    <strong class='h4'><span class="glyphicon glyphicon-question-sign"></span> De Ricci Name Game Instructions <span class="caret"></span></strong>
  </div>
  <div class="panel-body panel-collapse collapse in" id="instructions">
    <%= render partial: "pages/partial", locals: {page_name: "De Ricci Game Instructions" } %>
  </div>
</div>