<script type="text/ng-template" id="selectNameAuthority.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">Find '{{ current_record.name }}' in SDBM Name Authority</h3>
        <form class='input-group' ng-submit="autocomplete()">
            <input autofocus type="text" id="searchNameAuthority" class="form-control search-form" ng-model="nameSearchString">
            <span class='input-group-btn'>
                <input type='submit' class='btn btn-default' value='Search' id='search-name'>Search</a>
            </span>
        </form>        
    </div>
    <div class="modal-body form-horizontal compress-whitespace fit-screen">

    <div class="row">
        <div class='col-sm-12'>
            <table class='table table-condensed' style="margin-bottom: 0px;" id="select-name-table">
                <thead style="background: darkcyan; color: white;">
                    <tr>
                        <th></th>
                        <th class='text-left'>SDBM Name</th>
                        <th>VIAF ID</th>
                        <th>As Author</th>
                        <th>As Artist</th>
                        <th>As Scribe</th>
                        <th>As Proven.</th>
                        <th>As Src. Ag.</th>
                        <th>Reviewed</th>
                        <th>Confirmed</th>
                    </tr>
                </thead>
                <tbody class='text-center'>
                    <tr ng-show="warning.length > 0">
                        <td colspan="9">{{ warning }}</td>
                    </tr>
                    <tr ng-repeat="s in suggestions track by $index" >
                        <td><a class='selectName btn btn-success btn-sm' ng-click='selectSuggestion(s)'>Link</a></td>
                        <td class='text-left'><a href="/names/{{ s.id }}" target="_blank">{{ s.name }}</a></td>
                        <td>{{ s.viaf_id }}</td>
                        <td>{{ s.authors_count }}</td>
                        <td>{{ s.artists_count }}</td>
                        <td>{{ s.scribes_count }}</td>
                        <td>{{ s.provenance_count }}</td>
                        <td>{{ s.source_agents_count }}</td>
                        <td>{{ s.reviewed ? "Yes" : "No" }} 
                            <!--<span class='glyphicon' ng-class="s.reviewed ? 'glyphicon-ok' : 'glyphicon-remove'"></span>-->
                        </td>
                        <td>{{ s.confirmed ? "Yes" : "No" }}
                            <!--<span class='glyphicon' ng-class="s.confirmed ? 'glyphicon-ok text-success' : 'glyphicon-remove'"></span>-->
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
        
    </div>
    <div class="modal-footer">
        <div class='row'>
            <div class='col-sm-12 text-right'>
                <span class='text-muted'>Can't find the name? Should it be added to the SDBM Name Authority?</span>
                <span class="btn-group">
                    <button class="btn btn-info" ng-click="flag(current_record, 'Name is Out of Scope')">Yes</button>
                    <button class="btn btn-warning" ng-click="flag(current_record, 'Name needs to be added to SDBM Name Authority')">No</button>
                    <button class="btn btn-default" ng-click="skip(current_record)">Not Sure</button>
                </span>
            </div>
        </div>
    </div>
</script>
