<div class="row">
  <div class="col-sm-12 text-center">
    <h4>My Games</h4>
    <p><%= link_to "New Game", new_dericci_game_path %></p>
    <% if @games.each do |game| %>
      <p><%= link_to "Game_#{game.id}", dericci_game_path(game) %></p>
    <% end.empty? %>
      <p class="text-muted">No Games!</p>
    <% end %>
  </div>
</div>