<% if params[:f] and params[:f].count > 0 %>
  <div class="panel panel-default facet_limit facet_limit-active">
    <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#selected-facets">
      <h5 class="panel-title facet-field-heading">
        Selected Filters
      </h5>
    </div>
    <div id="selected-facets" class="panel-collapse facet-content collapse in">
      <div class="panel-body">
        <ul class="list-unstyled facet-values">
          <%= render_constraints_filters_side(params) %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class='panel panel-default'>
  <div class="panel-heading">Search tips</div>
  <div class="panel-body">
    <ul class="advanced-help">
     <li>Truncation and wildcards are not supported - word-stemming is done automatically.</li>
     <li>Select "match all" to require all fields.
     </li>

     <li>Select "match any" to find at least one field.
     </li>

     <li>Combine keywords and attributes to find specific items.
     </li>

     <li>Use quotation marks to search as a phrase. 
     
     <li>Use "+" before a term to make it required. (Otherwise results matching only some of your terms may be included).</li>
     
     <li>Use "-" before a word or phrase to exclude. 

     <li>Use "OR", "AND", and "NOT" to create complex boolean logic. You can use parentheses in your complex expressions. </li>
   </ul>
  </div>
</div>