<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">

  <div class="top-card-header card-header">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-collapse">
      <span class="sr-only">Toggle facets</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div id="facet-collapse" class="collapse card-group">
  <%= render_facet_partials %>
</div>
</div>
<% end %>