<!-- MODAL for creating a new Place or Language Name Authority record from within create/edit source or entry -->

<script type="text/ng-template" id="createEntityWithName.html">
    <div class="modal-header">
        <h3 class="modal-title">Create {{ entityName }}
            <a href="" class="btn btn-default pull-right" ng-click="goBack()"><span class="glyphicon glyphicon-circle-arrow-left"></span> Go Back</a>
        </h3>
    </div>
    <div class="modal-body form-horizontal">

        <div ng-show="entityName == 'place'">
        <div class="row">
            <div class="col-sm-12">
                <%= render partial: "pages/partial", locals: {page_name: "Place Instructions" } %>
            </div>
        </div>
        </div>

        <div ng-show="entityName == 'language'">
            <div class="row">
                <div class="col-sm-12">
                    <%= render partial: "pages/partial", locals: {page_name: "Language Instructions" } %>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label" sdbm-tooltip="create_model_name">Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="entity.name">
            </div>
        </div>

        <p ng-show="saveError">Error saving this name: {{ saveError }}</p>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()" ng-show="readyToCreate">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>