<div id="search-navbar" class="navbar navbar-light navbar-expand-md" role="navigation">
  <div class="container w-100">
    <%= render 'catalog/search_form' %>
    <div class="collapse navbar-collapse catalog-search-info" id="myNavbar">
      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item text-nowrap">
            <%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item text-nowrap">
          <a href="<%= recent_additions_path %>" class="nav-link recent_additions">Recent<span class="hide-mobile-lg"> Additions</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
