<script type="text/ng-template" id="selectModelAuthority.html">
    <div class="modal-header flex-column">
        <h3 class="modal-title text-center w-100">Find {{ type | humanize }} in Name Authority</h3>
        <form class='input-group w-100'>
            <input autofocus type="text" id="searchModelAuthority" class="search-form form-control" ng-model="nameSearchString">
            <div class="input-group-append">
                <select class="form-select" ng-model="method">
                    <option value="similar">Similar</option>
                    <option value="exact">Exact</option>
                </select>
                <button type="submit" class="btn btn-outline-secondary" id='search-model' ng-click="autocomplete()">Find</button>
            </div>
        </form>
    </div>
    <div class="modal-body form-horizontal compress-whitespace fit-screen">

        <div class="row">
            <div class='col-sm-12'>
                <table class='table table-condensed' style="margin-bottom: 0px;" id="select-model-table">
                    <thead>
                        <tr>
                            <th>
                                <div class="btn-group">
                                    <a href="" ng-disabled="page <= 1" ng-click="prevPage()" class="btn btn-sm btn-outline-secondary"><span class="fas fa-fw fa-chevron-left"></span></a>
                                    <span class="btn btn-sm btn-outline-secondary">Page {{ page }}</span>
                                    <a href="" ng-click="nextPage()" class="btn btn-sm btn-outline-secondary"><span class="fas fa-fw fa-chevron-right"></span></a>
                                </div>
                            </th>
                            <th>ID</th>
                            <th>Name</th>
                            <th class='text-center'># Entries</th>
                            <th class='text-end'>Reviewed</th>
                        </tr>
                    </thead>
                    <tbody class=''>
                        <tr ng-show="warning.length > 0">
                            <td colspan="5">{{ warning }}</td>
                        </tr>
                        <tr ng-repeat="s in suggestions track by $index">
                            <td><a class='selectModel btn btn-outline-secondary btn-sm' ng-click='selectSuggestion(s)'>Select</a></td>
                            <td>{{ s.id }}</td>
                            <td><a href="/{{ type }}s/{{ s.id }}" target="_blank" ng-class="{'text-danger' : s.problem}">{{ s.name }}</a>
                                <span class="" ng-if="s.problem" sdbm-tooltip="problemModel"></span>
                            </td>
                            <td class='text-center'>{{ s.entries_count }}</td>
                            <td class='text-end'>{{ s.reviewed ? "Yes" : "No" }}
                                <!--<span class='fa' ng-class="s.reviewed ? 'fa-check' : 'fa-times'"></span>-->
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer justify-content-between">
        <div>
            Can't find the {{ type | humanize }} you are looking for? <a href="" class="btn btn-primary one-line" ng-click="createName()" id='propose-model'><strong>Propose</strong> '{{ searchTerm || "New " + (type | humanize) }}'</a>
        </div>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
