<% if model.created_at.present? %>
    <tr><td>Added</td>
    <td>
        by <%= render partial: "shared/username_with_profile_link", locals: { user: model.created_by } %>
        on <%= model.created_at.to_formatted_s(:date_and_time) %> <br>
    </td></tr>
<% end %>
<% if model.updated_at.present? && model.updated_at != model.created_at %>
    <tr><td>Last Updated</td>
    <td>
        by <%= render partial: "shared/username_with_profile_link", locals: { user: model.updated_by } %>
        on <%= model.updated_at %>
    </td></tr>
<% end %>