<%= link_to 'Go to Manuscript Record', @model %> |
<a href="<%= linking_tool_by_manuscript_path(@model.id) %>">Go to Linking Tool</a> |
<%= link_to 'Return to Manage Your Manuscript Records page', models_path %>
