<% content_for :breadcrumbs do %>
    <%= render partial: "breadcrumbs" %>
    <li class="active">
      <a href="<%= history_manuscript_path(@model) %>">Change History</a>
    </li>
<% end %>

<% content_for :control_tools do %>
    <%= render partial: "tools" %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <% if @versions.count <= 0 %>
      <p class="text-muted">This Manuscript has no record of any changes.  <strong>NOTE: Manuscript change history was only fully implemented in June 2018, so older transactions may not be recorded.</strong></p>
    <% end %>
    <%= render partial: "list" %>
  </div>
</div>