<form class="form-horizontal name-form">

  <div class="row field form-group">
    <label for="" class="control-label col-sm-2" sdbm-tooltip="edit_name_name">Name</label>
    <div class="col-sm-10">
      <input type="text" ng-model="name.name" class="form-control">
    </div>
  </div>

  <div class="row field form-group">
    <label for="" class="control-label col-sm-2" sdbm-tooltip="edit_name_startdate">Start Date</label>
    <div class="col-sm-4"><input type="text" ng-model="name.startdate" class="form-control"></div>

    <label for="" class="control-label col-sm-2" sdbm-tooltip="edit_name_enddate">End Date</label>
    <div class="col-sm-4"><input type="text" ng-model="name.enddate" class="form-control"></div>
  </div>


  <div class="field form-group row">
    <label for="subtype" class="col-sm-2 control-label" sdbm-tooltip="edit_name_subtype">Subtype</label>
    <div class="col-sm-10">      
      <select class="form-control" ng-model="name.subtype" ng-options="option[0] as option[1] for option in subtypes"></select>
    </div>
  </div>

  <div class="field form-group row">
    <label for="viaf_id" class="col-sm-2 control-label" sdbm-tooltip="edit_entry_viaf">
        <a style="color: #333" href="http://www.viaf.org" target="_blank"><span class="glyphicon glyphicon-export"></span> VIAF ID</a>
    </label>
    <div class="col-sm-4">
      <input type="text" ng-model="name.viaf_id" class="form-control">
    </div>
    <div class="col-sm-3 label-alignment" ng-if="name.viaf_id">
        <a target="_blank" href="http://viaf.org/viaf/{{ name.viaf_id }}/">View VIAF record</a>
    </div>
    <div class="col-sm-3 text-right" ng-if="!name.viaf_id">
      <button type="button" ng-click="findSuggestions(name.name, true)" ng-disabled="loading" class="btn btn-primary one-line" style="max-width: 100%;">Find Suggestions in VIAF</button>
    </div>
  </div>

  <div class="field form-group row">
    <label for="" class="col-sm-2 control-label">Flags</label>
    <div class="col-sm-4">
        Specify this name to be used as:<br/>
        <label>
          <input type="checkbox" ng-model="name.is_artist"> Artist
        </label>
        <br/>
        <label>
          <input type="checkbox" ng-model="name.is_author"> Author
        </label>
        <br/>
        <label>
          <input type="checkbox" ng-model="name.is_scribe"> Scribe
        </label>
        <br/>
        <label>
          <input type="checkbox" ng-model="name.is_provenance_agent"> Provenance Agent
        </label>
    </div>
    <div class="col-sm-6">
      <div ng-show="showSuggestions">
        <table ng-show="suggestions.length > 0" class="table table-striped table-compressed">
            <thead>
                <tr>
                    <th class="col-sm-6"><b>Name</b></th>
                    <th class="col-sm-2"><b>VIAF ID</b></th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="suggestion in suggestions">
                    <td class="col-sm-6">{{ suggestion.name }}</td>
                    <td class="col-sm-2"><a target="_blank" href="http://viaf.org/viaf/{{ suggestion.viaf_id }}/">{{ suggestion.viaf_id }}</a></td>
                    <td class="col-sm-2"><a ng-click="useSuggestion(suggestion)" href="#">Use this info</a></td>
                </tr>
            </tbody>
        </table>
      </div>
      <div ng-show="!loading && suggestions.length == 0">No suggestions found.</div>
    </div>
  </div>

  <div class="field form-group row">
    <label for="" class="col-sm-2 control-label" sdbm-tooltip="edit_name_other">Other Info</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="name.other_info">
      </div>
  </div>

  <div class="field form-group row">
    <label for="" class="col-sm-2 control-label">
      <span sdbm-tooltip="edit_name_place">Places</span>
      <p class="add-link-container">
        <a a id="add_use" class="clickable" data-ng-click="addRecord(name.name_places)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </p>
    </label>
    <div class="col-sm-10" ui-sortable="sortableOptions" ng-model="name.name_places" class='col-sm-12'>
      <div class="row input-block" data-ng-repeat="name_place in name.name_places | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(name.name_places, name_place)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="form-inline row">
          <div class="col-sm-4">
            <div class="btn-group name-authority-group" role="group" style="width: 100%; margin-left: 16px;">          
              <a id="find_place_name_authority_{{ $index }}" ng-if='name_place.place.id == undefined' ng-init="name_place.place = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('places', name_place.place, 'place', name_place.observed_name)">Find or Create Authority Name</a>
              <div ng-if='name_place.place != undefined && name_place.place.id != undefined' class="form-control well well-sm well-name-authority btn btn-info">
                <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(name_place, 'place')"></a>
                <a href="/places/{{ name_place.place.id }}" target="_blank">{{ name_place.place.name }}</a>
              </div>
            </div>
          </div>

          <label class='control-label col-sm-1' sdbm-tooltip="edit_name_place_notbefore">Not Before</label>
          <div class='col-sm-3'>
              <input type="text" class="form-control" placeholder="YYYY-MM-DD" ng-pattern="/^[0-9\-]*$/" data-ng-model="name_place.notbefore" style="max-width: 100%;">
          </div>
          <label class='control-label col-sm-1' sdbm-tooltip="edit_name_place_notafter">Not After</label>
          <div class='col-sm-3'>
              <input type="text" class="form-control" placeholder="YYYY-MM-DD" ng-pattern="/^[0-9\-]*$/" data-ng-model="name_place.notafter" style="max-width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group field row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <a href="" class="btn btn-primary" ng-click="save()">Save</a>      
      <a href="" ng-click="cancel()" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>