db/*.sqlite3
db/*.sqlite3-journal
log
tmp
coverage
doc
.capistrano
.yardoc
docker_data
solr/data/*
solr/data
solr/default/*
solr/default
solr/development/*
solr/development
solr/pids/*
solr/pids
solr/test/*
solr/test
