# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8

key_buffer		= 64M
max_allowed_packet	= 64M
thread_stack		= 192K
thread_cache_size       = 8

sort_buffer_size = 8M
max_heap_table_size = 32M
tmp_table_size = 32M
read_rnd_buffer_size = 2M
table_cache = 128

query_cache_limit	= 16M
query_cache_size        = 64M

expire_logs_days	= 10
max_binlog_size         = 100M

innodb_data_file_path = ibdata1:1000M:autoextend
innodb_buffer_pool_size=1G
innodb_additional_mem_pool_size=50M
innodb_log_file_size=250M
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=0
innodb_lock_wait_timeout=50
innodb_thread_concurrency=5
