<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4 class="h4">
      <% if @notification.notified %>
        <%= link_to @notification.title, polymorphic_url(@notification.notified) %>
      <% else %>
        <%= @notification.title %>
      <% end %>
      <br><small><%= @notification.created_at.to_formatted_s(:long) %></small>
    </h4>
    <p><%= !@notification.notified.nil? ? sanitize(simple_format(@notification.notified.preview.to_s)) : "OLD NOTIFICATION" %></p>
  </body>
</html>