<div class="row">
  <div class="col-sm-12">
    <legend class="h1 text-center">Notifications</legend>
    <ul class="list-group list-group-no-border">
      <li class="list-group-item">
        <span class="h3 text-success text-center">Unread</span>
      </li>
      <% @unread.reverse.each do |notification| %>
        <li class="list-group-item list-group-item-success">
          <%= render partial: "show", locals: {notification: notification} %>
        </li>
      <% end %>
      <% if @unread.count <= 0 %>
        <li class="list-group-item text-muted">No unread notifications.</li>
      <% end %>
    </ul>
    <ul class="list-group list-group-no-border">
      <li class="list-group-item">
        <span class="h3 text-muted text-center">Read</span>
      </li>
      <% @read.reverse.each do |notification| %>
        <li class="list-group-item text-muted">
          <%= render partial: "show", locals: {notification: notification} %>
        </li>
      <% end %>
      <% if @read.count <= 0 %>
        <li class="list-group-item text-muted">No read notifications.</li>
      <% end %>      
    </ul>
  </div>
</div>