
<h1>Oops!</h1>

<p>You are trying to reach the page to find or create a manuscript,
but <a href="<%= edit_entry_path(@entry) %>"><%= @entry.public_id %></a> is already linked to
<a href="<%= edit_manuscript_path(@entry.manuscript) %>"><%= @entry.manuscript.public_id %></a>.
</p>

