<%= render partial: "manage_models/breadcrumbs", locals: {edit: true} %>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h3>Edit Group</h3>
    <%= render partial: "form" %>
  </div>
</div>