<%= render partial: "manage_models/breadcrumbs", locals: {edit: true} %>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h3>New Group</h3>
    <%= render partial: "form" %>
  </div>
</div>