version: "3.8"

services:
  app:
    deploy:
      labels:
        - "traefik.enable=true"

        - "traefik.http.routers.app.entrypoints=web"
        - "traefik.http.routers.app.rule=Host(`{{ app_url }}`)"
        - "traefik.http.routers.app.service=app"
        - "traefik.http.services.app.loadbalancer.server.port={{ app_port }}"
    volumes:
      - app_storage:/home/app/storage

volumes:
  app_storage:
    name: app_storage
