<script type="text/ng-template" id="createSource.html">
<div class="modal-header">
    <h3 class="modal-title text-center">
        {{ getPageTitle() }}
    </h3>
</div>
<form id="source-form" name="form" class="form-horizontal sdbmss-form" autocomplete="off" novalidate data-ng-cloak>

<div class="modal-body form-horizontal compress-whitespace fit-screen fit-screen-small" style="padding: 10px; overflow-x: hidden;">

<div class="col-sm-12">

    <div class="row">
        <div class="col-sm-12">
            <div ng-show="!source.source_type.name">
                <p>A source is the origin of information for an entry. Sources can include auction and sale catalogs, collection catalogues, published or unpublished inventories, censuses, an individual (you or someone else) who has made direct observations about a manuscript(s), etc. From the dropdown menu, select one of six Source Types (see definitions below) that best describes your source.</p>
            </div>
            <div ng-show="source.source_type.name">
                <p ng-show="source.source_type.name == 'auction_catalog'">Use this type for auction or sale catalogs for a specific sale event. For online-only auctions (such as eBay) or sale events, use the SOURCE TYPE: Online-only Auction or Bookseller Website.</p>
                <p ng-show="source.source_type.name == 'collection_catalog'">Use for published catalogs of institutional or private individual collections.</p>
                <p ng-show="source.source_type.name == 'online'">Use this type for online-only auctions, such as eBay, or for bookseller websites providing non-dated sale lists. This field is intended for information found only online and not referring to a specific, dated sale.</p>
                <p ng-show="source.source_type.name == 'observation'">Use this type when recording data acquired via direct personal observation or indirect knowledge of a manuscript. It is mandatory that you understand the SDBM data model before creating a Personal Observation. Please review the instructional content, located within the <b><span class="glyphicon glyphicon-question-sign"></span> Help</b> menu at the top of the screen, before creating your entry.</p>
                <p ng-show="source.source_type.name == 'other_published'">Use this type for any other published source not applicable to the previous SOURCE TYPES (e.g., an inventory published in a journal article).</p>
                <p ng-show="source.source_type.name == 'unpublished'">Use for any unpublished data sources (e.g. in-house finding aids or inventories, personal communications via email, etc).</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="source_type" class="col-sm-2 control-label"><span sdbm-tooltip="source_type">Source Type</span></label>
        <div class="col-sm-4">
            <select class="form-control" id="source_type" ng-model="source.source_type" ng-change="sourceTypeChange()" ng-options="option as option.display_name for option in optionsSourceType" ng-disabled="source.id">
                <option value="">Select One</option>
            </select>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-sm-12">
            <div ng-show="!showFields()">
                
                <p><b>Personal Observation</b>:  Use this type when recording data acquired via direct personal observation or indirect knowledge of a manuscript. It is mandatory that you understand the SDBM data model before creating a Personal Observation. Please review the instructional content, located within the <b><span class="glyphicon glyphicon-question-sign"></span> Help</b> menu at the top of the screen, before creating your entry.</p>

                <p><b>Auction/Dealer Catalog</b>: Use for auction or sale catalogs for a specific sale event. For online-only auctions (such as eBay) or sale events, use the SOURCE TYPE: Online-only Auction or Bookseller Website.</p>

                <p><b>Collection Catalog</b>: Use for published catalogs of institutional or private individual collections.</p>

                <p><b>Online-only Auction or Bookseller Website</b>: Use
                    for online-only auctions, such as eBay, or for
                    bookseller websites providing non-dated sale
                    lists. This field is intended for information found
                    only online and not referring to a specific, dated
                    sale. When the data source is an online version of a
                    print catalog (e.g. a pdf), use the SOURCE TYPE:
                    Auction/Dealer Catalog.</p>


                <p><b>Other Published Source</b>: Use for any other
                    published source not applicable to the previous SOURCE TYPES (e.g., an
                    inventory published in a journal article).</p>

                <p><b>Unpublished Source</b>: Use for any unpublished data sources (e.g. in-house finding aids or inventories, personal communications via email, etc).</p>
                
                <p>Not sure what your source type is? Email us at <a href="mailto:sdbm@pobox.upenn.edu">sdbm@upenn.edu</a>.</p>
            </div>
        </div>
    </div>

    <div class="source-fields-container" ng-show="showFields()">

        <div class="form-group row" ng-show="source.source_type.name != 'online' && source.source_type.name != 'unpublished'">
            <label for="source_date" class="col-sm-2 control-label"><span sdbm-tooltip="source_date">Source Date</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="source_date" id="source_date" ng-model="source.date" ng-pattern="/(^[0-9]{4}$)|(^[0-9]{4}-[0-9]{2}$)|(^[0-9]{4}-[0-9]{2}-[0-9]{2}$)/" />
            </div>
            <div class="col-sm-7" ng-show="form.source_date.$error.pattern">
                <span style="color: PaleVioletRed;">Date must be YYYY-MM-DD, YYYY-MM or YYYY</span>
            </div>
        </div>

        <div class="auction-source-container" ng-show="source.source_type.name == 'auction_catalog'">

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_title">Publication Title</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="title" ng-model="source.title" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_selling_agent">Selling Agent(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='pull-left col-sm-6' style="margin-left: 15px">
                    <div class="input-block form-group" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 control-label">
                                <span>Authority Name</span>
                            </label>
                            <div class="col-sm-8">                            
                                <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'selling_agent', 'is_provenance_agent')">Find or Create Authority Name</a>
                                <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                                    <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                                    {{ source_agent.agent.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- I added this to support catalogs whose entire contents are the sale of a single person; but per 10/30 meeting, Lynn says we dont need this -->
            <!--
            <div class="form-group row">
                <label for="institution" class="col-sm-2 control-label">Seller</label>
                <div class="col-sm-6">
                </div>
            </div>
            -->

        </div>

        <div class="auction-source-container" ng-show="source.source_type.name == 'online'">
            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_website_name">Website Name</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="title" ng-model="source.title" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_selling_agent">Selling Agent(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='pull-left col-sm-6' style="margin-left: 15px">
                    <div class="input-block form-group" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 control-label">
                                <spanf>Authority Name</span>
                            </label>
                            <div class="col-sm-8">                            
                                <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'selling_agent', 'is_provenance_agent')">Find or Create Authority Name</a>
                                <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                                    <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                                    {{ source_agent.agent.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="auction-source-container" ng-show="source.source_type.name == 'collection_catalog'">

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_institution">Institution/Collection(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='pull-left col-sm-6' style="margin-left: 15px">
                    <div class="input-block form-group" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 control-label">
                                <span>Authority Name</span>
                            </label>
                            <div class="col-sm-8">                            
                                <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'institution', 'is_provenance_agent')">Find or Create Authority Name</a>
                                <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                                    <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                                    {{ source_agent.agent.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_title">Publication Title</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="title" ng-model="source.title">
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_author" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_author">Publication Author</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="author" ng-model="source.author">
                </div>
            </div>

        </div>

        <div class="auction-source-container" ng-show="source.source_type.name == 'observation'">

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_source_name">Source Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="title" ng-model="source.title">
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_author" class="col-sm-2 control-label"><span sdbm-tooltip="source_observer">Observer</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="author" ng-model="source.author">
                </div>
            </div>

        </div>
        
        <div class="other-published-container" ng-show="source.source_type.name == 'other_published'">

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_title">Publication Title</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="title" ng-model="source.title">
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_author" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_author">Publication Author</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="author" ng-model="source.author">
                </div>
            </div>

        </div>

        <div class="auction-source-container" ng-show="source.source_type.name == 'unpublished'">

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_institution">Institution/Collection(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='pull-left col-sm-6' style="margin-left: 15px">
                    <div class="input-block form-group" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 control-label">
                                <span>Authority Name</span>
                            </label>
                            <div class="col-sm-8">                            
                                <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'institution', 'is_provenance_agent')">Find or Create Authority Name</a>
                                <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                                    <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                                    {{ source_agent.agent.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_source_name">Source Name</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="title" ng-model="source.title">
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_author" class="col-sm-2 control-label"><span sdbm-tooltip="source_author_creator">Author/Creator</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="author" ng-model="source.author">
                </div>
            </div>

        </div>

<!--        <div class="form-group row">
            <label for="whether_mss" class="col-sm-2 control-label"><span sdbm-tooltip="source_has_manuscripts">Has Manuscripts</span></label>
            <div class="col-sm-3">
                <select class="form-control" name="whether_mss" id="whether_mss" ng-model="source.whether_mss">
                    <%= options_for_select(Source::HAS_MANUSCRIPT_TYPES) %>
                </select>
            </div>-->

        <div class="form-group row" ng-show="source.id">
            <label for="status" class="col-sm-2 control-label"><span sdbm-tooltip="source_status">Status</span></label>
            <div class="col-sm-3">
                <select class="form-control" name="status" id="status" ng-model="source.status" >
                    <%= options_for_select(Source::STATUS_TYPES) %>
          </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>Where did you see this source?</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>Complete as many fields as possible. This data gives other users the ability to consult your source and provides an audit trail to ensure quality of data entry.</p>
            </div>
        </div>

        <div class="form-group row">
            <label for="location" class="col-sm-2 control-label"><span sdbm-tooltip="source_location_type">Location Type</span></label>
            <div class="col-sm-3">
                <select class="form-control" id="medium" ng-model="source.medium" ng-options="option[0] as option[1] for option in optionsMedium" ng-disabled="source.source_type.name == 'online'">
                    <option value="">Select One</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="city" class="col-sm-2 control-label"><span sdbm-tooltip="source_date_accessed">Date Accessed</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="date_accessed" id="date_accessed" ng-model="source.date_accessed" ng-pattern="/(^[0-9]{4}$)|(^[0-9]{4}-[0-9]{2}$)|(^[0-9]{4}-[0-9]{2}-[0-9]{2}$)/"/>
            </div>
            <div class="col-sm-7" ng-show="form.date_accessed.$error.pattern">
                <span style="color: PaleVioletRed;">Date must be YYYY-MM-DD, YYYY-MM or YYYY</span>
            </div>
        </div>

        <div class="form-group row" ng-show="source.medium != 'internet' && source.medium != 'personal_communication'">
            <label for="city" class="col-sm-2 control-label">
                <span sdbm-tooltip="source_institution_location_seen" ng-show="source.medium != 'private_collection'">Institution</span>
                <span sdbm-tooltip="source_institution_location_seen" ng-show="source.medium == 'private_collection'">Collection</span>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="location_institution" id="location_institution" ng-model="source.location_institution" />
            </div>
        </div>

        <div class="form-group row" ng-show="source.medium != 'internet'">
            <label for="city" class="col-sm-2 control-label"><span sdbm-tooltip="source_location_seen">Location (City, Country)</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="location" id="location" ng-model="source.location" />
            </div>
        </div>
                
        <div class="form-group row" ng-show="source.source_type.name != 'observation'">
            <label for="location" class="col-sm-2 control-label"><span sdbm-tooltip="source_link">Online Link / Call Num.</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="link" id="link" ng-model="source.link" />
            </div>
        </div>
        
         <div class="row">
            <div class="col-sm-12 text-center">
                <h4>Other Info</h4>
            </div>
        </div>

        <div class="form-group row">
            <label for="editorial_comments" class="col-sm-2 control-label">
                <span sdbm-tooltip="source_comments">Other Info</span>
            </label>
            <div class="col-sm-9">
                <textarea class="form-control" id="comments" data-ng-model="source.other_info"></textarea>
            </div>
        </div>


    </div>


    <% if Rails.env.development? %>
        <br/><br/>
        <br/><br/>
        <a href="#" data-ng-click="debug()">DEBUG: Print model to console</a>
    <% end %>

</div>
</div>
<div class="modal-footer text-center">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || currentlySaving">Save</button>
        <a class="btn btn-warning" ng-click='cancel();'>Cancel</a>
        <div ng-show="currentlySaving" style="display: inline;">
            <img id="spinner" alt="working..." src="<%= asset_path "spinner.gif" %>" style="margin-left: 10px; margin-right: 10px;"/> Working, please wait...
        </div>
      </div>
    </div>
</div>
</form>
</script>