<!-- MODAL for creating a new Place or Language Name Authority record from within create/edit source or entry -->

<script type="text/ng-template" id="createEntityWithName.html">
    <div class="modal-header">
        <h3 class="modal-title">Create {{ entityName }}
            <a href="" class="btn btn-default pull-right" ng-click="goBack()"><span class="glyphicon glyphicon-circle-arrow-left"></span> Go Back</a>
        </h3>
    </div>
    <div class="modal-body form-horizontal">

        <div ng-show="entityName == 'place'">
            <p>This window asks you to create an authorized name to
            facilitate standardization and searchability for this
            entity. Type the name of a place into the Place field,
            following the SDBM standards for place names.</p>

            <p>Enter country of origin first, using modern political
            boundaries where possible.  Exceptions might include regions, such as
            Persia, Flanders, Rhaetia. If a location is identified
            with an empire or dynasty, give the name of the empire or
            dynasty first, e.g. Ottoman Turkey or Safavid
            Persia. After country or region, enter all locations as given in the
            catalogue from the largest geographical unit to the
            smallest.</p>

            <p>
                <div style="float: left;">e.g.:</div>
                <div style="padding-left: 40px;">
                    Germany<br/>
                    Germany, southern<br/>
                    Italy, Tuscany<br/>
                    France, Paris<br/>
                    France, northern, Arras?<br/>
                    Persia<br/>
                    Safavid Persia<br/>
                    Mamluk Egypt<br/>
                    Ottoman Empire<br/>
                </div>
            </p>

            <p>Tip: Remember that a place name can have variations. If
            you don’t find a place, consider other possible spelling
            variations.</p>
        </div>

        <div ng-show="entityName == 'language'">
            <p>This window asks you to create an authorized name to
            facilitate standardization and searchability for this
            entity. Type the name of a language into the Language
            field, following the SDBM standards for language names.</p>

            <p>Enter the language. If a dialect, give the primary language group first, then the dialect.</p>

            <p>
                <div style="float: left;">e.g.:</div>
                <div style="padding-left: 40px;">
                    French, Norman<br/>
                    English, Old<br/>
                    German, Swabian<br/>
                </div>
            </p>

            <p>Tip: Remember that a language name can have
                variations. If you don’t find a language, consider
                other possible spelling variations.</p>

        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label" sdbm-tooltip="create_model_name">Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="entity.name">
            </div>
        </div>

        <p ng-show="saveError">Error saving this name: {{ saveError }}</p>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()" ng-show="readyToCreate">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
