<!-- MODAL for creating a new (Person) Name Authority record from within create/edit source or entry -->

<script type="text/ng-template" id="createName.html">
    <div class="modal-header">
        <h3 class="modal-title">Create {{ entityName }}
            <a href="" class="btn btn-default pull-right" ng-click="goBack()"><span class="glyphicon glyphicon-circle-arrow-left"></span> Go Back</a>
        </h3>
    </div>
    <div class="modal-body form-horizontal compress-whitespace">

        <div class="row">
            <div class="col-sm-12">
                <%= render partial: "pages/partial", locals: {page_name: "Name Instructions" } %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <%= render partial: "names/form" %>
            </div>
        </div>
        
</script>
