<div id="development-dialog" title="Welcome!" style="display: none">
    <p>
        This is the development version of the New Schoenberg
        Database project, for use by SIMS and related
        individuals only. Feel free to look around and
        experiment, but please do not distribute the address
        publicly.
    </p>
    <p style="color:red">
        NOTE: Data entry and changes made here are completely separate from
        the current live database.
    </p>
    <p>
        Please <a href="mailto:jeffchiu@upenn.edu">email Jeff</a> with
        any bug reports, questions, concerns, or suggestions.
    </p>
</div>
