<div id="header-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header text-right">
      <span class="show-mobile hide-mobile-sm h3 mobile-title">Schoenberg Database of Manuscripts</span>
      <span class="show-mobile-sm h3 mobile-title mobile-acronym">SDBM</span>
      <% if current_user %>
      <% end %>
      <button type="button" class="navbar-toggle btn btn-default btn-header-hamburger" data-toggle="collapse" data-target=".user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </div>
    <div class="row">
      <div class="col-sm-3 hide-mobile">
        <%= image_tag 'neh_logo_horizlarge.png', class: "img img-responsive", style: "height: 44px; display: inline-block;" %>
      </div>
      <div class="col-sm-6 text-center">
        <div class="collapse navbar-collapse user-util-collapse">
          <%= render partial: "shared/navbar_brand" %>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <div class="collapse navbar-collapse user-util-collapse">
          <%= render :partial=>'/user_util_links' %>
        </div>
      </div>
    </div>
  </div>
</div>