<div id="header-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <span class="pull-left" style="max-height: 50px;">
        <a id='collapse-control' class="btn btn-default" data-toggle="collapse" data-target="#control-panel">
          <span class="glyphicon glyphicon-menu-hamburger hide-collapsed"></span>
        </a>
        <%= render partial: "shared/navbar_brand" %>
        </span>
        <%= image_tag'sims.png', class: "img img-responsive hide-mobile-lg", usemap:"#Map" %>
        <map name="Map" id="Map">
          <area href="https://schoenberginstitute.org/" alt="Facebook" target="_blank" shape=poly coords="0,0, 400,0, 400,25, 0,25"> 
          <area href="http://www.library.upenn.edu/" alt="Facebook" target="_blank" shape=poly coords="0,25, 400,25, 400,50, 0,50"> 
        </map>
        <span class="pull-right hide-mobile" style="line-height: 50px;">
          <%= render partial: "/user_util_links" %>
        </span>
      </div>
    </div>
  </div>
</div>