<script type="text/ng-template" id="inferenceFlags.html">
    <div class="modal-header">
        <h3 class="modal-title">Set Flags</h3>
    </div>
    <div class="modal-body form-horizontal">
        
        <div class="form-group row">
            <label class="col-sm-3 control-label">Inferred by Source?</label>
            <div class="col-sm-1">
                <input type="checkbox" class="form-control" ng-model="objectWithFlags.inferred_by_source">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Inferred by User?</label>
            <div class="col-sm-1">
                <input type="checkbox" class="form-control" ng-model="objectWithFlags.inferred_by_user">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">Close</button>
    </div>
</script>

