<% if current_user %>
  <div class="panel panel-default dl-inline" id="my_bookmarks">
      <ul class="nav nav-tabs">
        <li ng-repeat="(name, bookmarks) in all_bookmarks" class="bookmark-nav-button" ng-class="{active: (name == active) }">
          <a ng-click="addTabToStorage(name);">{{ name }}
          <span class="badge">{{ (bookmarks | filter:hasTag).length }}</span></a>
        </li>
      </ul>
    <div class="tab-content bookmark-panes">

      <div ng-repeat="(name, bookmarks) in all_bookmarks" class="tab-pane fade" id="bookmark-tab-{{ name }}" ng-class="{active: (name == active), in: (name == active)}">
        <ul class="list-group bookmarks">
          <li class="list-group-item text-center" ng-if="search_tag.length > 0 && (bookmarks | filter:hasTag).length <= 0">
            <b class="text-primary">SEARCH: {{ search_tag }}</b> ... no results ...<br>
            <a class='' ng-click="searchTag('')">Clear Search <span class="glyphicon glyphicon-remove"></span></a>
          </li>
          <li class="list-group-item" ng-if="bookmarks.length <= 0">
            No records of this type have been bookmarked yet.
          </li>
          <li class="list-group-item" ng-repeat="bookmark in bookmarks | filter:hasTag">
              <dl class="document-show-heading dl-invert" style="padding-left: 10px;">
                  <dt class='h4'>
                    <strong><a href="{{ bookmark.link }}"> {{ bookmark.public_id }}</a></strong>
                    <span ng-bind-html="actionButton(bookmark)"></span> 
                    <a href="" class='remove-bookmark control-bookmark pull-right' ng-click="removeBookmark(name, bookmark)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </dt>
              </dl>
              <dl class="document-metadata dl-invert dl-horizontal">
                <dt ng-repeat-start="(key, value) in bookmark.details track by $index">{{ key }}</dt>
                <dd ng-repeat-end>{{ value }}</dd>
                <dt>
                  Tags
                </dt>
                <dd>
                  <ul class="list-inline">
                    <li ng-if="bookmark.tags.length <= 0" class='text-warning'>This bookmark has no tags.</li>
                    <li ng-repeat="tag in bookmark.tags" class="bookmark-tag" ng-class="{'btn-info btn-lg' : tag == search_tag, 'bg-primary' : tag != search_tag}">
                        <a href="" ng-click="searchTag(tag);">{{ tag }}</a> <!-- fix me: should this filter in bookmark panel, or go to manage bookmarks search? -->
                        <a href="" class='remove-bookmark-tag-confirm small' ng-click="removetag(bookmark, tag)"><span class="glyphicon glyphicon-remove"></span></a>
                    </li>
                  </ul>
                </dd>
                <a ng-show="!bookmark.showAddTag" href="" class="btn btn-sm btn-success" ng-click="bookmark.showAddTag = !bookmark.showAddTag">Add Tag <span class="glyphicon glyphicon-tag"></span></a>
                <div class="form-inline">
                  <div class="input-group add-bookmark-tag" ng-show="bookmark.showAddTag">
                    <input type='text' class='form-control' placeholder="add tag..." ng-model="bookmark.newtag" ng-keyup="$event.keyCode == 13 && addtag(bookmark, bookmark.newtag)">
                    <a href="" class="input-group-addon add-bookmark-tag-confirm" ng-click="addtag(bookmark, bookmark.newtag)"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="" class="input-group-addon add-bookmark-tag-confirm" ng-click="bookmark.showAddTag = !bookmark.showAddTag">Cancel</a>
                  </div>
                </div> 
              </dl>
          </li>
        </ul>
      </div>
  
    </div>
    <div class="form-inline clearfix navbar-form">
      <div class="input-group">
        <input type="text" class="form-control" name="tag-search" placeholder="Filter By Tag..." size=12 ng-model="tagSearch" ng-keyup="$event.keyCode == 13 && searchTag(tagSearch)">
        <a href="" class="input-group-addon" ng-click="searchTag('')"><span>Clear</span></a>
      </div>
      <a href='/bookmarks' class="pull-right text-right text-invert">Manage<br>Bookmarks</a>
    </div>
  </div>
<% end %>