<% if current_user %>
<% @bookmarks = current_user.bookmarks %>
<div class="panel panel-default bookmark-tab text-right" style="position: fixed; right: 0px; z-index: 1000; max-width: 320px;">
  <div class="panel-heading" data-toggle="collapse" href="#my_bookmarks">
    <span class='h3 <%= @bookmarks.count <= 0 ? "text-muted" : ""%>'>
      My Bookmarks
      <!--<span class="glyphicon glyphicon-bookmark"></span>-->
    </span>
  </div>
  <div class="panel-collapse collapse" id="my_bookmarks">
    <ul class="list-group">
      <% if @bookmarks.count <= 0 %>
        <li class="list-group-item">You have nothing bookmarked.</li>
      <% end %>
      <% @bookmarks.each do |b| %>
        <% e = Entry.find(b.document_id) %>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= link_to e.public_id, entry_path(e), :target => "_blank" %></h4>
          <p class="list-group-item-text"><%= e.display_value %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>