 <ul class="pagination">
  <% if page >= 3 %>
    <li><%= link_to "First", polymorphic_path(model_class, action: action, page: 0) %></li>
  <% end %>
  <% if page >= 4 %>
    <li class="text-muted"><a href="">...</a></li>
  <% end %>

  <% pages.times do |p| %>

    <% if page == p %>
      <li class="active"><a href=""><%= p + 1 %></a></li>
    <% elsif (page - p).abs < 3 %>
      <li><%= link_to p + 1, polymorphic_path(model_class, action: action, page: p) %></li>
    <% end %>
    
  <% end %>

  <% if page <= pages - 4 %>
    <li class="text-muted"><a href="">...</a></li>
  <% end %>
  <% if page <= pages - 3 %>
    <li><%= link_to "Last", polymorphic_path(model_class, action: action, page: pages - 1) %></li>
  <% end %>
</ul>