<script type="text/ng-template" id="selectNameAuthority.html">
    <div class="modal-header">
        <h3 class="modal-title">Find {{ type | humanize }} in Name Authority
            <small class='pull-right form-inline'>
            <label for="searchNameAuthority">Search: </label><input autofocus type="text" id="searchNameAuthority" class="form-control search-form" ng-change="autocomplete()" ng-model="nameSearchString"></small>
        </h3>
    </div>
    <div class="modal-body form-horizontal compress-whitespace fit-screen">

    <div class="row">
        <div class='col-sm-12'>
            <table class='table table-condensed' style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>VIAF ID</th>
                        <th>As Author</th>
                        <th>As Artist</th>
                        <th>As Scribe</th>
                        <th>As Proven.</th>
                        <th>As Src. Ag.</th>
                        <th>Reviewed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="nameSearchString.length <= 0">
                        <td colspan="9">To begin searching, enter something in the search bar.</td>
                    </tr>
                    <tr ng-show="nameSearchString.length > 0 && suggestions.length <= 0">
                        <td colspan="9">No results found.</td>
                    </tr>
                    <tr ng-repeat="s in suggestions track by $index" ng-click="selectSuggestion(s)" ng-class="{success: s == suggestion}">
                        <td><input type='radio' ng-click='selectSuggestion(s)' style="opacity: 0;"></input></td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.viaf_id }}</td>
                        <td>{{ s.authors_count }}</td>
                        <td>{{ s.artists_count }}</td>
                        <td>{{ s.scribes_count }}</td>
                        <td>{{ s.provenance_count }}</td>
                        <td>{{ s.source_agents_count }}</td>
                        <td>{{ s.reviewed }}</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
        
    </div>
    <div class="modal-footer">
        <div class='row'>
            <div class='col-sm-6 text-left'>
                <a href="" class="btn btn-default" id='propose-name' ng-click="createName()">Propose {{ nameSearchString || ("New " + type | humanize ) }}</a>
            </div>
            <div class='col-sm-6'>
                <button class="btn btn-success" ng-disabled="!suggestion" ng-click="selectName()" id="selectNameButton">Select {{ suggestion.name }}</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</script>