<script type="text/ng-template" id="selectSource.html">
<div class="modal-header">
    <h3 class="modal-title text-center" style="border-bottom: 1px solid #eee;" sdbm-tooltip="select-source">
        Search for Existing Source
    </h3>
    
    <div class="find-source-container">
        <div class="form-group row text-center" style="margin: 10px -15px">
            <div class="col-sm-4">
                <label class="control-label text-muted"><span>Source Date</span></label>
                <input class="form-control" name="date" ng-model="date" id='source-date-search'/>
                <div class="label-alignment">
                    <span class="source-explain">Enter a date in YYYY-MM-DD, YYYY-MM or YYYY</span>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label text-muted"><span>Selling Agent or Institution/Collection</span></label>
                <input class="form-control" name="agent" ng-model="agent" data-toggle='tooltip' title='You must type at least 2 characters to begin searching.'/>
                <div class="label-alignment">
                    <span class="source-explain">e.g. Sothebys, University of Pennsylvania</span>
                </div>
                
            </div>
            <div class="col-sm-4">
                <label class="control-label text-muted"><span>Source Title</span></label>
                <input class="form-control" name="title" ng-model="title"/>
                <div class="label-alignment">
                    <span class="source-explain">e.g. Rare books and manuscripts</span>
                </div>
            </div>
        </div>
        <div class="row search-info" ng-show="searchAttempted">
            <div class="col-sm-12 form-inline text-right">
                <span class='pull-left' style='line-height: 34px;'>Showing {{ sources.length }}
                of {{ total || 0 }} results.</span>
                Sort by
                <select name="" id="find_order" class="form-control" ng-model="order" ng-change="findSourceCandidates()">
                    <option value="id asc">Id (asc)</option>
                    <option value="id desc">Id (desc)</option>
                    <option value="date asc">Date (asc)</option>
                    <option value="date desc">Date (desc)</option>
                </select>
                Show
                <select class="form-control" name="find_limit" id="" ng-model="limit" ng-change="findSourceCandidates()">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>
                results
            </div>
        </div>
    </div>
</div>
<div class="modal-body form-horizontal compress-whitespace fit-screen fit-screen-small" style="padding: 0px;">

<div class="select-source-container">

<div ng-show="!searchAttempted && sources.length == 0" class='text-center text-info' style="padding: 10px">
    Fill in any of the fields above to begin searching (at least 2 characters)
</div>

<table class='table table-striped table-hover' ng-show="sources.length > 0" style="margin-bottom: 0px;">
    <tbody>
        <tr ng-repeat="source in sources track by $index">
                <td>
                    <a id="create-entry-link-{{ source.id }}" class='btn btn-default' ng-click="setSource(source)">Select</a>
                </td>
                <td>
                    <% if true %>
                        <a href="/sources/{{ source.id }}" target="_blank">{{ source.display_value }}</a> ({{ source.entries_count }} entries)
                    <% else %>
                        <a href="/sources/{{ source.id }}" target="_blank">{{ source.display_value }}</a> ({{ source.entries_count }} entries) {{ source.source_type }}
                    <% end %>
                </td>
        </tr>
        </tbody>
</table>
<div class='text-warning text-center' ng-show="searchAttempted && sources.length == 0" style='padding: 10px;'>
    No source found matching your criteria.
</div>
</div>

</div>

<div class="modal-footer text-center" ng-show="searchAttempted" >
    Unable to find the Source you are looking for? <a class="btn btn-primary" href="{{ createSourceURL() }}">Click here to CREATE A NEW SOURCE</a>
</div>

</script>