<script type="text/ng-template" id="selectModelAuthority.html">
    <div class="modal-header">
        <h3 class="modal-title">Find {{ type | humanize }} in Name Authority
            <small class='pull-right form-inline'>
            <label for="searchNameAuthority">Search: </label><input autofocus type="text" id="searchModelAuthority" class="search-form form-control" ng-change="autocomplete()" ng-model="nameSearchString"></small>
        </h3>
    </div>
    <div class="modal-body form-horizontal compress-whitespace fit-screen">

    <div class="row">
        <div class='col-sm-12'>
            <table class='table table-condensed' style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Name</th>
                        <th># Entries</th>
                        <th>Reviewed</th>
                    </tr>
                </thead>
                <tbody class='text-center'>
                    <tr ng-show="nameSearchString.length <= 0">
                        <td colspan="5">To begin searching, enter search term in the search bar.</td>
                    </tr>
                    <tr ng-show="nameSearchString.length > 1 && suggestions.length <= 0">
                        <td colspan="5">No results found.  Consider searching for other possible spelling variations.</td>
                    </tr>
                    <tr ng-repeat="s in suggestions track by $index">
                        <td><a class='selectModel btn btn-default btn-small' ng-click='selectSuggestion(s)'>Select</a></td>
                        <td>{{ s.id }}</td>
                        <td><a href="/{{ type }}s/{{ s.id }}" target="_blank">{{ s.name }}</a></td>
                        <td>{{ s.entries_count }}</td>
                        <td>{{ s.reviewed ? "Yes" : "No" }}
                            <!--<span class='glyphicon' ng-class="s.reviewed ? 'glyphicon-ok' : 'glyphicon-remove'"></span>-->
                        </td>
                    </tr>
                </tbody>
                <tfoot>                    
                </tfoot>
            </table>
        </div>
    </div>
        
    </div>
    <div class="modal-footer">
        <div class='row'>
            <div class="col-sm-8 text-left">
                Can't find the {{ type | humanize }} you are looking for? <a href="" class="btn btn-default" ng-click="createName()" id='propose-model'>Propose {{ nameSearchString || "New " + (type | humanize) }}</a>
            </div>
            <div class="col-sm-4 text-right">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</script>