<script type="text/ng-template" id="selectModelAuthority.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">Find {{ type | humanize }} in Name Authority</h3>
        <form class='input-group' ng-submit="autocomplete()">   
            <input autofocus type="text" id="searchModelAuthority" class="search-form form-control" ng-model="nameSearchString">
            <span class='input-group-btn'>
                <input type="submit" class="btn btn-default" value="Search" id='search-model'>Search</input>
            </span>
        </form>
    </div>
    <div class="modal-body form-horizontal compress-whitespace fit-screen">

    <div class="row">
        <div class='col-sm-12'>
            <table class='table table-condensed' style="margin-bottom: 0px;" id="select-model-table">
                <thead>
                    <tr>
                        <th>
                            <div class="btn-group">
                                <a href="" ng-disabled="page <= 1" ng-click="prevPage()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-menu-left"></span></a>
                                <span class="btn btn-xs btn-default">Page {{ page }}</span>
                                <a href="" ng-click="nextPage()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-menu-right"></span></a>
                            </div>
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                        <th class='text-center'># Entries</th>
                        <th class='text-right'>Reviewed</th>
                    </tr>
                </thead>
                <tbody class=''>
                    <tr ng-show="warning.length > 0">
                        <td colspan="5">{{ warning }}</td>
                    </tr>
                    <tr ng-repeat="s in suggestions track by $index">
                        <td><a class='selectModel btn btn-default btn-xs' ng-click='selectSuggestion(s)'>Select</a></td>
                        <td>{{ s.id }}</td>
                        <td><a href="/{{ type }}s/{{ s.id }}" target="_blank" ng-class="{'text-danger' : s.problem}">{{ s.name }}</a>
                            <span class="" ng-if="s.problem" sdbm-tooltip="problemModel"></span>   
                        </td>
                        <td class='text-center'>{{ s.entries_count }}</td>
                        <td class='text-right'>{{ s.reviewed ? "Yes" : "No" }}
                            <!--<span class='glyphicon' ng-class="s.reviewed ? 'glyphicon-ok' : 'glyphicon-remove'"></span>-->
                        </td>
                    </tr>
                </tbody>
                <tfoot>                    
                </tfoot>
            </table>
        </div>
    </div>
        
    </div>
    <div class="modal-footer">
        <div class='row'>
            <div class="col-sm-8 text-left">
                Can't find the {{ type | humanize }} you are looking for? <a href="" class="btn btn-primary one-line" style="max-width: 100%"  ng-click="createName()" id='propose-model'><strong>Propose</strong> '{{ searchTerm || "New " + (type | humanize) }}'</a>
            </div>
            <div class="col-sm-4 text-right">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</script>