<%# Used for wherever a username is shown publicly (i.e. created by, commented by) %>
<% if user.present? %>
  <span class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown"><%= user.to_s %><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="<%= profile_path(username: user.username) %>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="<%= new_private_message_path(user_id: user.id) %>"><span class="glyphicon glyphicon-envelope"></span> Send Message</a></li>
    </ul>
  </span>
<% else %>
Unknown
<% end %>
