<%# Used for wherever a username is shown publicly (i.e. created by, commented by) %>
<% if user.present? %>
  <span class="<%= defined?(up) ? 'dropup' : 'dropdown' %>">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      <%= user.to_s %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><em style="padding: 20px;" class='text-muted'><span class="glyphicon glyphicon-briefcase"></span> <%= user.role %></em></li>
      <li><a href="<%= profile_path(username: user.username) %>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="<%= new_private_message_path(user_id: [user.id]) %>"><span class="glyphicon glyphicon-envelope"></span> Send Message</a></li>
      <% if current_user == user %>
      <li><%= link_to edit_user_registration_path do %> <span class="glyphicon glyphicon-cog"></span> My Settings <% end %></li>
      <% end %>
    </ul>
  </span>
<% else %>
  Unknown
<% end %>
