<p>Thank you for becoming a member of the New SDBM user community! To ensure the best possible experience for all users, we have established some basic guidelines and rules for productive participation.</p>

<p>By joining and using the New SDBM, you agree that you have read and will follow these guidelines and rules. <b>You also agree to contribute data suited to the mission f the New SDBM and to make it publicly available to the world.</b> In order to preserve respectful climate for online collaboration and collaborative research, the New SDBM staff reserves the right to suspend or terminate membership in this community for anyone who violate these rules.</p>

<p><b>General User Community Etiquette</b></p>
<ul>
  <li>Be respectful at all times.</li>
  <li>Provide as much enough information about yourself as possible in your Personal Profile to help other users get to know you and your level of expertise. </li>
  <li>Be concise and clear in your data entry. <b>Remember your data is only as good as its ability to be found and interpreted by a wide range of users.</b></li>
</ul>

<p><b>The Rules</b></p>
<ul>
  <li>All contributions must add to the mission of the New SDBM. The New SDBM staff reserves the right to reject user-generated contributions for any reason.</li>
  <li>Do not post any defamatory, abusive, profane, threatening, offensive, or illegal materials. </li>
  <li>Do not attack or insult other users when providing feedback or comments on Entries or Manuscript Records. Comments are meant to enhance data and stimulate conversation. They are not meant for personal arguments.</li>
  <li>Use caution when making contributions. Data and especially comments are available for the world to see, and comments are subject to libel, slander, and antitrust laws.</li>
  <li>If you contribute data from a source other than yourself, identify that source as clearly as possible so that others may be able to use it for reference</li>
  <li>Personal Observations and other data contributed to the New SDBM by members of the user community are copyright by the user who created them and licensed for use under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a>.</li>
</ul>

<p><b>Legal terms</b></p>
<p>This web application is provided as a service for the members of the New SDBM user community to conduct and contribute research on the historic and current locations of premodern manuscripts and other aspects related to the study of these materials.  The New SDBM staff is not responsible for the opinions and information posted on this site by others. We disclaim all warranties with regard to information posted on this site, whether posted by New SDBM staff or any third party; this disclaimer includes all implied warranties of merchantability and fitness. In no event shall the New SDBM be liable for any special, indirect, or consequential damages or any damages whatsoever resulting from loss of use, data, or profits, arising out of or in connection with the use or performance of any information posted on this site.</p>

<p><b>Contact Information</b></p>
<p>If you have any questions or concerns or need further information, please contact us by email at <a href="mailto:sdbm@upenn.edu">sdbm@upenn.edu</a> or call Lynn Ransom, Project Director, @ 215-898-7851.</p>