<% content_for :breadcrumbs do %>
  <li class="breadcrumb list-group-item active"><a href="/private_messages">Messages</a></li>
<% end %>

<%= render partial: "header", locals: {title: (@sent_by ? "SENT MAIL" : "INBOX")} %>

<div class="row">
  <div class="col-sm-12">
    <% @messages.each do |m| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render partial: 'message', locals: {message: m, truncate: true} %>
        </div>
      </div>
    <% end %>
  </div>
</div>