<%= render partial: "header", locals: {title: @user ? "NEW MESSAGE TO #{@user}" : "NEW MESSAGE"} %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render partial: "form", locals: {message: nil, from: [], title: nil} %>
  </div>
</div>