<%= render partial: "header", locals: {title: @message.title} %>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'message', locals: {message: @message, truncate: false} %>
      </div>
    </div>
  </div>
</div>
