<%= render partial: "header", locals: {title: @message.title} %>
<div class="row">
  <div class="col-sm-12">
    <% @chain.messages.each do |message| %>
      <div class="private_message">
        <%= render partial: 'message', locals: {message: message, last: message == @chain.messages.last} %>      
      </div>
    <% end %>
  </div>
</div>
