<% content_for :breadcrumbs do %>
  <li class="list-group-item breadcrumb"><a href="/private_messages">Messages</a></li>
  <li class="list-group-item breadcrumb active"><a href="">MSG: <%= @chain.messages.first.title %></a></li>
<% end %>
<%= render partial: "header", locals: {title: @message.title} %>
<div class="row">
  <div class="col-sm-12">
    <% @chain.messages.each do |message| %>
      <div class="private_message">
        <%= render partial: 'message', locals: {message: message, last: message == @chain.messages.last} %>      
      </div>
    <% end %>
  </div>
</div>
