<div class="panel panel-default">
  <div class="panel-heading inbox-heading">
    <div class="row">
      <div class="col-sm-4 text-right bg-primary inbox-column">
        <%= link_to "< Return to INBOX", private_messages_path, class: "h3" %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-group">
          <%= render partial: "message", locals: {message: @message} %>
        </ul>
      </div>
    </div>
  </div>
</div>