<div class="panel panel-default">
  <div class="panel-heading split-heading">
    <div class="row">
      <div class="col-sm-4 text-right bg-primary full-column">
        <%= link_to "< Return to INBOX", private_messages_path, class: "h3" %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= render partial: 'message', locals: {message: @message, truncate: false} %>
  </div>
</div>