<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h3 class="text-center">
      Edit <%= @page.name %>
      <br><small><%= @page.filename %></small>
    </h3>
    <%= render partial: "form" %>
  </div>
  <div class="col-sm-4"></div>
</div>