<% if current_user && current_user.role == 'admin' %>
  <%= link_to(edit_page_path(@page.name)) do %>
    <span class="glyphicon glyphicon-edit"></span> Edit Page
  <% end %>
<% end %>
<%= @filecontents %>