<%#
  OVERRIDE Blacklight 7.11: citation body comes from Entry model_object.to_citation; stock partial
    uses Blacklight::Document::CitationComponent which expects export_as_* methods on SolrDocument.
%>
<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with(:title, t('blacklight.tools.citation')) %>

  <% @documents.each do |document| %>
    <h3 class="modal-title"><%= document_heading(document) %></h3>
    <%= document.model_object.to_citation %><br/><br/>
  <% end %>
<% end %>
