<%#
  OVERRIDE Blacklight 7.11: uses Deprecation.silence wrapper for query_has_constraints? and
    renders _start_over (which SDBM overrides to add search_field=all_fields).
    SDBM customization: render_constraints receives search_state directly (matches BL7 pattern).
%>
<% if Deprecation.silence(Blacklight::RenderConstraintsHelperBehavior) { query_has_constraints? } %>
  <div id="appliedParams" class="clearfix constraints-container">
    <h2 class="sr-only"><%= t('blacklight.search.search_constraints_header') %></h2>

    <%= render 'start_over' %>
    <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
    <%= render_constraints(controller.params != params ? params : search_state) %>
  </div>
<% end %>
