<%#
  OVERRIDE Blacklight 9.0.0 to add CSV export button inline with pagination.
%>
<div class="d-flex align-items-center record-padding mb-4">
  <% if show_pagination? && @response.total_pages > 1 %>
    <%= render Blacklight::Response::PaginationComponent.new(response: @response,
      classes: 'paginate-section mt-2') %>
  <% end %>
  <% if @response.present? && !@response.empty? && current_user %>
    <a class="btn btn-outline-secondary export-csv ms-auto mt-2" onclick="exportCSV('<%= search_results_as_csv_path %>')">Download results as CSV</a>
  <% end %>
</div>
