<%#
  OVERRIDE Blacklight 7.11: adds signed-in-only CSV export button next to pagination;
    stock partial is pagination only in a single full-width column.
%>
<% has_pagination = @response && @response.total_pages > 1 %>
<div class="d-flex align-items-center record-padding">
  <% if has_pagination %>
  <div>
    <%= render Blacklight::Response::PaginationComponent.new(response: @response) %>
  </div>
  <% end %>
  <% if !@response.empty? && current_user %>
  <div class="ml-auto" style="margin: 0px 0px 10px 0px;">
    <a class="btn btn-outline-secondary export-csv" style="white-space: nowrap;" onclick="exportCSV('<%= search_results_as_csv_path %>')">Download results as CSV</a>
  </div>
  <% end %>
</div>
