<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-center">
        <h2>Oops!</h2>
        <h4>The entry you are looking for cannot be found.</h4>
        <p><%= link_to "Return home", root_path %></p>
  </div>
  <div class="col-sm-3"></div>
</div>