<%= link_to(watches_path(watched_id: watchable.id, watched_type: watchable.class.to_s, user_id: current_user.id), :method => :post, :remote => true) do %>
    <span class="glyphicon glyphicon-eye-open"></span> <span class="watch-text">Watch</span>
<% end %>