<%= link_to delete_many_watches_path(ids: [watch.id]), :method => :delete, :remote => true, class: "watch-delete Watch_#{watch.watched_type}_#{watch.watched_id}" do %>
  <span style="color: gold;"><span class="glyphicon glyphicon-eye-open"></span> <span class="watch-text">Watched</span></span>
<% end %>