<%= link_to watch_path(watch), :method => :delete, :remote => true do %>
  <span style="color: gold;"><span class="glyphicon glyphicon-eye-open"></span> <span class="watch-text">Watch</span></span>
<% end %>