  <% if @model.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <span class='lead'>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <%= pluralize(@model.errors.count, "error") %> prevented save
      </span>

      <ul class='list-inline'>
      <% @model.errors.messages.each do |key, messages| %>
          <%# this partial allows for another layer to intercept, so that messages can be customized at template level %>
          <% messages.each do |message| %>
            <li><%= render partial: "error_message", locals: { key: key, message: message } %></li>
          <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>
