<% if Rails.env.development? || Rails.env.staging? %>
<div class="input-group" style='width: 100%;'>
  <% groups = Group.joins(:group_users).where(:group_users => {user: current_user, role: "Manager"}) %>
  <% if groups.count > 0 %>  
  <select style="width: 45%" class='form-control' id="group-select">
    <% groups.each do |group| %>
      <option value="<%= group.id %>"><%= group.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Add" class='form-control' id="add-to-group" style='width: 21%'/>
  <input type="submit" value="Remove" class='form-control' id="remove-from-group" style='width: 34%'/>
  <% end %>
</div>
<% end %>