<%= form_tag(request.path, method: :get, class: "form-inline form-horizontal search-form sdbmss-form") do %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <span class="h3">Search</span>
                    </div>
                    <div class="col-xs-8 text-right">
                        <% if can? :manage, model_class %>
                            <label class="checkbox-inline">
                                <%= check_box_tag :unreviewed_only, 1, params[:unreviewed_only] %> Limit to records needing review
                            </label>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="panel-body search">
                <div class="row search-fieldset">
                    <div class="col-sm-12">
                        <button type='button' class="btn btn-xs btn-warning search-remove form-control inline-left"> <span class="glyphicon glyphicon-remove"></span> </button><%= text_field_tag :search_value, params[:search_value], size: 26, placeholder: "Enter your search term...", class: "form-control inline-middle" %><select class="form-control inline-middle inline-select" name="search_field">
                        <% Array(@search_fields).each do |field| %>
                            <!-- replace 'at' in 'created at' with 'on' -->
                            <option value="<%= field %>" type="<%= @fields.include?(field) ? 'field' : (@filters.include?(field) ? 'filter' : 'date') %>"><%= field.humanize.gsub(/\sat/, ' on') %></option>
                        <% end -%>
                        </select><select class="form-control inline-right inline-select" name="search_option">
                        <% Array(@filter_options).each do |option| %>
                            <option value="<%= option %>" class="option filter_option">
                                <% if option == 'with' %>
                                    <%= "Equals" %>
                                <% elsif option == 'without' %>
                                    <%= "Does Not Equal" %>
                                <% else %>
                                    <%= option.humanize %>
                                <% end %>
                            </option>
                        <% end %>
                        <% Array(@field_options).each do |option| %>
                            <option value="<%= option %>" class="option field_option"><%= option.humanize %></option>
                        <% end %>
                        <% Array(@date_options).each do |option| %>
                            <option value="<%= option %>" class="option date_option"><%= option.humanize %></option>
                        <% end %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="background-color: #f8f8f8;">
                <div class="row">
                    <div class="col-sm-3">
                        <button type='button' class="btn btn-success" id="addSearch">
                            <span class="glyphicon glyphicon-plus"></span> add term
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <span id="spinner" style='display: none;'><img alt="working..." src="<%= asset_path "spinner.gif" %>"/> loading search results...</span>
                    </div>
                    <div class="col-sm-5 text-right">
                        <label for="" class="control-label">Match</label>
                        <select name="op" id="search_op" class="form-control" style="width: 77px; display: inline-block;">
                            <option value="AND">All</option>
                            <option value="OR">Any</option>
                        </select>
                        <button id="search_submit" type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <% if can? :manage, model_class %>
        <div class="panel review-control">
            <div class="panel-body text-right" style="padding: 0px 15px;">
                <a class="btn btn-info" id="mark-as-reviewed" >Mark checked records as reviewed</a>
            </div>
        </div>
        <% end %>
<% end %>