<%= form_tag(request.path, method: :get, class: "form-horizontal search-form sdbmss-form") do %>
<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h3">Search
                    <span class="pull-right btn btn-success btn-xs" id="addSearch">
                        <span class="glyphicon glyphicon-plus"></span> add term
                    </span>
                </span>
            </div>
            <div class="panel-body search">
                <div class="row form-group search-fieldset">
                    <div class="col-sm-2 text-center">
                        <a class="btn btn-xs btn-warning search-remove"><span class="glyphicon glyphicon-remove"></span> remove</a>
                    </div>
                    <div class="col-sm-3">
                        <%= text_field_tag :search_value, params[:search_value], size: 70, class: "form-control" %>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" name="search_field">
                        <% Array(@search_fields).each do |field| %>
                            <option value="<%= field %>" type="<%= @fields.include?(field) ? 'field' : (@filters.include?(field) ? 'filter' : 'date') %>"><%= field.humanize %></option>
                        <% end -%>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" name="search_option">
                        <% Array(@filter_options).each do |option| %>
                            <option value="<%= option %>" class="option filter_option">
                                <% if option == 'with' %>
                                    <%= "Equals" %>
                                <% elsif option == 'without' %>
                                    <%= "Does Not Equal" %>
                                <% else %>
                                    <%= option.humanize %>
                                <% end %>
                            </option>
                        <% end %>
                        <% Array(@field_options).each do |option| %>
                            <option value="<%= option %>" class="option field_option"><%= option.humanize %></option>
                        <% end %>
                        <% Array(@date_options).each do |option| %>
                            <option value="<%= option %>" class="option date_option"><%= option.humanize %></option>
                        <% end %>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <img id="spinner" alt="working..." style="display: none;" src="<%= asset_path "spinner.gif" %>"/>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2 text-right">
                        <label for="" class="control-label">Match</label>
                        <select name="op" id="search_op" class="form-control" style="width: 77px; display: inline-block;">
                            <option value="any">Any</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button id="search_submit" type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="well">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <% if can? :manage, model_class %>
                            <label class="checkbox-inline">
                                <%= check_box_tag :unreviewed_only, 1, params[:unreviewed_only] %> Limit to records needing review
                            </label>
                        <% end %>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12 review-control">
                        <a class="btn btn-primary btn-sm" id="mark-as-reviewed" class="btn btn-primary">Mark checked records as reviewed</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                      <li class="list-group-item list-group-item-warning text-center"><span class="disabled">(unapproved records shown in yellow)</span></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>