<% if user_signed_in? %>
    <li class="link">
      <%= link_to(polymorphic_path([:history, @model])) do %>
        <span class="glyphicon glyphicon-list-alt"></span> Change History
      <% end %>
    </li>
<% end %>
<% if can?(:merge, @model.class) %>
  <li>
    <%= link_to(polymorphic_path([:merge, @model])) do %>
      <span class="glyphicon glyphicon-transfer"></span> Merge</a>
    <% end %>
  </li>
    <!-- eventually, merge will be here? -->
<% end %>
