<%= stylesheet_link_tag "extras", media: "all" %>

<h1>New <%= resource_name.singularize.capitalize %></h1>

<%= render 'form' %>

<% content_for :breadcrumbs do %>
  <%= render partial: "breadcrumbs" %>
<% end %>