version: '3.8'

services:
  solr:
    image: "{{ solr_image_name }}:{{ solr_image_tag }}"
    deploy:
      labels:
        - "traefik.enable=true"

        - "traefik.http.routers.solr.entrypoints=web"
        - "traefik.http.routers.solr.rule=Host(`{{ solr_host }}` && PathPrefix(`/solr`))"
        - "traefik.http.routers.solr.service=solr"
        - "traefik.http.services.solr.loadbalancer.server.port={{ solr_port }}"
      placement:
        constraints:
          - node.labels.solr == true
      replicas: 1
      update_config:
        order: start-first
        parallelism: 1
    entrypoint:
      - bash
      - -c
      - |
        precreate-core development /opt/solr-config
        precreate-core test /opt/solr-config
        precreate-core production /opt/solr-config
        exec solr-foreground
    networks:
      - mysql
      - traefik
    volumes:
      - sdbm_solr:/home/app/solr
#    volumes:
#      - sdbm_solr:/var/solr/data
#      - ./solr/conf:/opt/solr-config:ro
#    ports:
#      - 8983:8983
    healthcheck:
      test: [ "CMD-SHELL", "curl -sf http://localhost:8983/solr/development/admin/ping || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    environment:
      ADMIN_PASSWORD: "{{ app_versioned_secrets.admin_password.value }}"
      MYSQL_DATABASE: "{{ mysql_database }}"
      MYSQL_HOST: "mysql"
      MYSQL_PASSWORD: "{{ mysql_versioned_secrets.password.value }}"
      MYSQL_USER: "{{ mysql_user }}"

      RABBIT_PASSWORD: "{{ rabbitmq_versioned_secrets.password.value }}"
      RABBIT_USER: "{{ rabbitmq_user }}"

      RAILS_ENV: "{{ app_rails_env }}"
      RAILS_PASS: "{{ app_versioned_secrets.rails_pass.value }}"
      RAILS_USER: "{{ app_rails_user }}"
      RAILS_LOG_TO_STDOUT: "true"
      RAILS_SERVE_STATIC_FILES: "true"

      SDBMSS_APP_HOST: "{{ app_url }}"
      SDBMSS_SMTP_HOST: "{{ app_versioned_secrets.smtp_host.value }}"
      SDBMSS_EMAIL_FROM: "{{ app_versioned_secrets.email_from.value }}"
      SDBMSS_NOTIFY_EMAIL: "{{ app_versioned_secrets.notify_email.value }}"
      SDBMSS_NOTIFY_EMAIL_PASSWORD: "{{ app_versioned_secrets.notify_email_password.value }}"
      SDBMSS_EMAIL_EXCEPTIONS_TO: "{{ app_versioned_secrets.email_exceptions_to.value }}"
      SDBMSS_BLACKLIGHT_SECRET_KEY: "{{ app_versioned_secrets.blacklight_secret_key.value }}"
      SDBMSS_DEVISE_SECRET_KEY: "{{ app_versioned_secrets.devise_secret_key.value }}"
      SDBMSS_SECRET_KEY_BASE: "{{ app_versioned_secrets.secret_key_base.value }}"
      SDBMSS_SECRET_TOKEN: "{{ app_versioned_secrets.secret_token.value }}"

      SOLR_URL: "{{ app_solr_url }}"

networks:
  mysql:
    external: true
  traefik:
    external: true

volumes:
  sdbm_solr:
