version: '3.8'

services:
  solr:
    image: "{{ app_image_name }}:{{ app_image_tag }}"
    command: ["bundle", "exec", "rake", "sunspot:solr:run"]
    deploy:
      labels:
        - "traefik.enable=true"

        - "traefik.http.routers.solr.entrypoints=web"
        - "traefik.http.routers.solr.rule=Host(`{{ solr_host }}` && PathPrefix(`/solr`))"
        - "traefik.http.routers.solr.service=solr"
        - "traefik.http.services.solr.loadbalancer.server.port={{ solr_port }}"
      placement:
        constraints:
          - "node.labels.solr == true"
      replicas: {{ solr_replicas }}
      update_config:
        order: "start-first"
        parallelism: 1
    environment:
      ADMIN_PASSWORD: "{{ app_versioned_secrets.admin_password.value }}"
      MYSQL_DATABASE: "{{ mysql_database }}"
      MYSQL_HOST: "mysql"
      MYSQL_PASSWORD: "{{ mysql_versioned_secrets.password.value }}"
      MYSQL_USER: "{{ mysql_user }}"

      RABBIT_PASSWORD: "{{ rabbitmq_versioned_secrets.password.value }}"
      RABBIT_USER: "{{ rabbitmq_user }}"

      RAILS_ENV: "{{ app_rails_env }}"
      RAILS_PASS: "{{ app_versioned_secrets.rails_pass.value }}"
      RAILS_USER: "{{ app_rails_user }}"
      RAILS_LOG_TO_STDOUT: "true"
      RAILS_SERVE_STATIC_FILES: "true"

      SDBMSS_APP_HOST: "{{ app_url }}"
      SDBMSS_SMTP_HOST: "{{ app_versioned_secrets.smtp_host.value }}"
      SDBMSS_EMAIL_FROM: "{{ app_versioned_secrets.email_from.value }}"
      SDBMSS_NOTIFY_EMAIL: "{{ app_versioned_secrets.notify_email.value }}"
      SDBMSS_NOTIFY_EMAIL_PASSWORD: "{{ app_versioned_secrets.notify_email_password.value }}"
      SDBMSS_EMAIL_EXCEPTIONS_TO: "{{ app_versioned_secrets.email_exceptions_to.value }}"
      SDBMSS_BLACKLIGHT_SECRET_KEY: "{{ app_versioned_secrets.blacklight_secret_key.value }}"
      SDBMSS_DEVISE_SECRET_KEY: "{{ app_versioned_secrets.devise_secret_key.value }}"
      SDBMSS_SECRET_KEY_BASE: "{{ app_versioned_secrets.secret_key_base.value }}"
      SDBMSS_SECRET_TOKEN: "{{ app_versioned_secrets.secret_token.value }}"

      SOLR_URL: "{{ app_solr_url }}"
    #healthcheck:
    #  test:
    #    [
    #      "CMD-SHELL",
    #      "curl -fsSL localhost:{{ app_port }} || exit 1",
    #    ]
    #  interval: 10s
    #  retries: 6
    #  start_period: 10s
    #  timeout: 10s
    networks:
      - mysql
      - traefik
    secrets:
      - source: rails_master_key
        target: /home/app/config/credentials/{{ app_rails_env }}.key
        uid: "1000"
        gid: "1000"
        mode: 0440
    volumes:
      - sdbm_solr:/home/app/solr

networks:
  mysql:
    external: true
  traefik:
    external: true

secrets:
  rails_master_key:
    external: true
    name: "{{ 'app_rails_master_key_v' ~ app_versioned_secrets.rails_master_key.version }}"

volumes:
  sdbm_solr:
