<% content_for :head do %>
    <%= javascript_include_tag "data" %>
    <style>
        circle {
            stroke: #000;
            transition: all 0.3s;        
        }
        circle:hover {
            opacity: 0.9;
            stroke-width: 2;
        }
        text {
            font-family: inherit;
            font-size: 14px;
            font-weight: bold;
            text-anchor: middle;
        }
        .loading {
            position: absolute;
            left: calc(50% - 32px); 
            top: 160px;          
        }
    </style>
    <script>

        var ENTRY_COLORS = {
            admin: "#6A9E98",
            contributor: "#4D648D",
            editor: "#64B058",
            super_editor: "#236A62"
        }

        var ACTIVITY_COLORS = {
            admin: "#AA5939",
            contributor: "#D4A76A",
            editor: "#BE5F7C",
            super_editor: "#D4886A"
        };
        var activity_chart, entry_chart;

        function doChart() {
            $("#spinner").show();
            if (entry_chart && entry_chart.destroy) entry_chart.destroy();
            if (activity_chart && activity_chart.destroy) activity_chart.destroy();

            $.get("/community/stats.json", {quantity: $("#quantity").val(), measure: $("#measure").val()}, function (result) {
                var entries = result.entries; // username, count, role
                var activity = result.activity; // usernmae, count, role
                
                var entry_users = entries.map(function (e) { return e[0]; });
                var entry_counts = entries.map(function (e) { return Math.log10(e[1]); });
                var entry_colors = entries.map(function (e) { return ENTRY_COLORS[e[2]]; });
                
                var activity_users = activity.map(function (e) { return e[0]; });
                var activity_counts = activity.map(function (e) { return Math.log10(e[1]); });
                var activity_colors = activity.map(function (e) { return ACTIVITY_COLORS[e[2]]; });
                

                //$("#done").html("Thank you for supporting the SDBM community!")
            
                
                entry_chart = new Chart(document.getElementById('entries-chart').getContext('2d'), {
                    data: {
                        labels: entry_users,
                        datasets: [{
                            label: "Contributions",
                            data: entry_counts,
                            backgroundColor: entry_colors                        
                        }]
                    },
                    type: 'polarArea',
                    options: {
                    }
                });

                activity_chart = new Chart(document.getElementById('activities-chart').getContext('2d'), {
                    data: {
                        labels: activity_users,
                        datasets: [{
                            label: "Contributions",
                            data: activity_counts,
                            backgroundColor: activity_colors                        
                        }]
                    },
                    type: 'polarArea',
                    options: {
                        legend: {
                            display: false
                        }
                    }
                });

                $("#spinner").hide();
                        
            });
        }

        $(document).ready(function () {
            $("#submit").click(doChart); 
            doChart();
        });

    </script>
<% end %>

<div class='row'>
    <div class="col-sm-12 text-center">
        <h3 class="h3 text-muted">The User Community</h3>
    </div>
    <div class="col-sm-6 text-right mobile-center" style="line-height: 32px;">
        Show me the user activity in the last:
    </div>
    <div class="col-sm-6 form-inline" id="community-search">
        <span class="input-group" style="width: 100%">
            <select name="" id="quantity" class="form-control" style="max-width: 100px;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="36" selected>36</option>
            </select>
            <select name="" id="measure" class="form-control" style="max-width: 100px;">
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month" selected>Month</option>
            </select>
            <input id="submit" type="submit" class="form-control" style="max-width: 100px;"></a>
        </span>
    </div>
</div>

<div class="row">
    <div class="loading"><img id="spinner" src="<%= asset_path "spinner.gif" %>" alt=""> loading...</div>
    <div class="col-sm-6" id="body1">
        <h3 class="text-muted text-center">New Entries Added</h3>
        <canvas height="400" width="400" id="entries-chart"></canvas>
    </div>
    <div class="col-sm-6" id="body2">
        <h3 class="text-muted text-center">Changes Made</h3> 
        <canvas height="400" width="400" id="activities-chart"></canvas>
    </div>
    <div class="col-sm-12 text-center text-muted" id="done">
        
    </div>
</div>