<% if current_or_guest_user %>
  <a onclick="addBookmark(<%= document.model_object.id %>, 'Entry');" class="btn btn-default bookmark-link" in_bookmarks="/entries/<%= document.model_object.id %>">
      <span class="glyphicon glyphicon-bookmark"></span>
    </a>
<% else %>
<% end %>
