<!-- this file is just used to override the default blacklight 'start over' link -->
<% if query_has_constraints? %>

      <div id="appliedParams" class="clearfix constraints-container">
        <div class="pull-right">
          <%=link_to t('blacklight.search.start_over'), start_over_path + "?search_field=all_fields&utf8=%E2%9C%93", :class => "catalog_startOverLink btn btn-primary btn-text", :id=>"startOverLink" %>
        </div>
        <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
        <%= render_constraints(params) %>
      </div>
<% end %>