
<h3>The New Schoenberg Database of Manuscripts</h3>

<div style="font-size: 16px">
    <p>
        The New Schoenberg Database of Manuscripts (SDBM) is an open
        access, user-built, community-driven research tool for the
        history of manuscript transmissions from production to the
        present. As before, the SDBM gathers and preserves data from
        auction and sales catalogues, inventories, catalogues from
        institutional and private collections, and other printed
        sources. Thanks to support from the National Endowment for the
        Humanities, the New SDBM now allows you to contribute data,
        including your own personal observations of a manuscript or
        group of manuscripts, and to engage with other users to
        facilitate research and conversations about both the history
        of manuscript transmission and the data gathered in the
        process of recording this history.
    </p>

    <p>Other new features:</p>
    <ul>
        <li>New Data Model (read more)</li>
        <li>Enhanced provenance data</li>
        <li>Ability to manage your contributions, track your search history, and store and download search results</li>
        <li>Email or download search results or export the entire contents of the SDBM for your own use under a Creative Commons license</li>
    </ul>

    <p>To contribute data or comment on existing data, log in <a href="<%= new_user_session_path %>">here</a>. New
        to the SDBM? Sign up <a href="<%= new_user_registration_path %>">here</a> to get started.</p>

    <p>Or simply start searching now. Here are the four ways to search:</p>

    <ul>
        <li>Quick keyword search: Enter term or terms in the Search Database box
            above.</li>
        <li>Category (facet) search: Start with the faceted Browse
            lists to the left and narrow your search further with
            facets.</li>
        <li>Advanced search: Search multiple fields and
            numeric ranges.</li>
        <li>Use a combination of all three</li>
    </ul>

</div>
