
<h3>The New Schoenberg Database of Manuscripts <em class='text-warning'>(Beta version)</em></h3>

<div style="font-size: 16px">
    <p>
The Schoenberg Database of Manuscripts aggregates observations of premodern manuscript drawn from over 12,000 auction and sales catalogues, inventories, catalogues from institutional and private collections, and other sources that document sales and locations of these books from around the world. 
    </p>

    <p>Thanks to support from the National Endowment for the Humanities, the New SDBM has been redeveloped to allow you--the members of our user community-- to contribute data, including your own personal observations of a manuscript or group of manuscripts, and to engage with other users to facilitate research and conversations about both the history of manuscript transmission and the data gathered in the process of recording this history.</p>

    <p>Other new features:</p>
    <ul>
        <li>New Data Model (<a href="/static/docs/sdbm_data_model_explanation.pdf">read more</a>)</li>
        <li>Enhanced provenance data</li>
        <li>Ability to manage your contributions, track your search history, and bookmark, tag, and download search results</li>
        <li>Email or download search results or export the entire contents of the SDBM for your own use under a <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</li>
        <li>A developing <a href="http://viaf.org">VIAF</a>-based Name Authority for persons associated with manuscript production and trade</li>
    </ul>

    <p>To contribute data or comment on existing data, log in <a href="<%= new_user_session_path %>">here</a>. New
        to the SDBM? Sign up <a href="<%= new_user_registration_path %>">here</a> to get started.</p>

    <p>Or simply start searching now. Here are the four ways to search:</p>

    <ul>
        <li>Quick keyword search: Enter term or terms in the Search Database box
            above.</li>
        <li>Category (facet) search: Start with the faceted Browse
            lists to the left and narrow your search further with
            facets.</li>
        <li>Advanced search: Search multiple fields and
            numeric ranges.</li>
        <li>Use a combination of all three</li>
    </ul>

    <p>This beta version of the New SDBM was made publicly available on August 1, 2016. It allows you to use and test the new functionality in a live environment while we continue to work on new features and design that will enhance the user experience and community engagement. We anticipate a final launch in Spring 2017.</p> 

    <p>Your feedback is important to us in this process! To contribute feedback and see what others have said, please join our Google Group: <a href="https://groups.google.com/forum/#!forum/new-sdbm-feedback_phase-2">new-sdbm-feedback-phase 2</a>.</p> 

</div>
