
<h4>Welcome to the Schoenberg Database of Manuscripts</h4>

<p>The Schoenberg Database of Manuscripts (SDBM) is
    a <b>metacatalog</b> of pre-1600 manuscripts containing at least 5
    folios.
</p>

<p>Our records are structured data representations of manuscript
    information from diverse sources, most notably auction and
    collection catalogs.
</p>

<p>This database contains the following primary entities:</p>

<ul>
    <li><b>Entries</b> - contain fields that describe features of a
        manuscript, usually derived from a textual description. Every
        entry comes from a particular <em>source</em> of
        information.</li>
    
    <li><b>Sources</b> - a source of information containing
        entries. These include auction catalogs, censuses, etc.</li>
    
    <li><b>Provenance Agents</b> - a person or organization involved
        in the history of a manuscript's posession and transmission.
        These include scriptoria, auction houses, dealers, collectors,
        university collections, etc. </li>
    
    <li><b>Authors</b> - a historical person who was the author of a
        manuscript</li>
</ul>

<% #Creates a bit space in the page -%>
