
<h3>Project Overview</h3>

<p style="font-size: 16px">
    The Schoenberg Database of Manuscripts (SDBM) contains normalized
    data records of descriptions of manuscripts gathered from various
    sources. Drawn from over 12,000 auction and sales catalogues,
    inventories, catalogues from institutional and private
    collections, and other sources, the SDBM assists in locating and
    identifying particular manuscripts, establishing provenance, and
    aggregating descriptive information.
</p>

<p style="font-size: 16px">
    The SDBM aims to be an open access, user-built, community-driven
    research tool for the history of manuscript tranmissions
    from production to the present.
</p>

<!-- <p>[TODO: Say something about user community here.]</p> -->
    
<h3>The Data Model</h3>

<p>The database contains the following primary entities:</p>

<dl class="dl-horizontal">

    <dt><b>Entries</b></dt>
    <dd>An entry describes the features of a manuscript, as recorded in
        a particular source of information.
    </dd>

    <dt><b>Sources</b></dt>
    <dd>A source of information from which an entry originates. These
        include auction catalogs, inventories, censuses, an individual
        making direct observations about manuscripts, etc.</dd>

    <dt><b>Provenance Agents</b></dt>
    <dd>A person or organization involved in the history of a
    manuscript's possession and transmission.  These include
    scriptoria, auction houses, dealers, collectors, university
        collections, etc.</dd>

    <dt><b>Names</b></dt>
    <dd>A person who is an author, a scribe, or an artist of a
    manuscript.</dd>

    <dt><b>Manuscripts</b></dt>
    <dd>A manuscript record associates entries together that refer to
    the same physical object.</dd>

</dl>

<!-- [TODO: info about open data, getting downloadable exports, etc] <a href="#">(read more)</a> -->

<% #Creates a bit space in the page -%>
