<div class="row record-padding">
    <div class="col-md-9 mobile-center">
        <% if show_pagination? and @response.total_pages > 1 %>
            <%= paginate @response, :outer_window => 2, :theme => 'blacklight' %>
        <% end %>
    </div>
    <div class="col-md-3 mobile-center">
        <% if !@response.empty? && current_user %>
        <!-- line up this text with pagination -->
        <div style="margin: 0px 0px 10px 0px;">
            <a class="btn btn-default export-csv disabled" onclick="/*exportCSV('entries<%= search_results_as_csv_path %>')*/" disabled="disabled">Download results as CSV</a>
        </div>
        <% end %>
    </div>
</div>
