<!-- I had to override the blacklight class anyway, just to make the "tools" not appear for deprecated records... -->
<div id="content" class="<%= show_content_classes %>">
  <%= render_document_main_content_partial %>
</div>

<% if !@entry.deprecated %>
<div id="sidebar" class="<%= show_sidebar_classes %>">
   <%= render_document_sidebar_partial %>
</div>
<% end %>