<%= content_for :head do %>
<script>
// this is to handle the confusion (for capybara ONLY) with having a login in the control panel, also
// FIX ME: change tests to use control panel login, eventually
    $(document).ready( function () {
       $('#control-panel').remove(); 
    });
</script>
<% end %>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <%= render partial: 'new' %>
        <div class="row">
            <div class="col-xs-12 form-group">
                <a href="/static/docs/sdbm_user_manual.pdf">User Manual</a><br/>
                <a href="/static/docs/sdbm_data_definitions.pdf">Data Definitions (PDF)</a><br/>
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-12 form-group">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>