<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <%= render partial: 'new' %>
        <div class="row">
            <div class="col-xs-12 form-group">
                <a href="/static/docs/sdbm_user_manual.pdf">User Manual</a><br/>
                <a href="/static/docs/sdbm_data_definitions.pdf">Data Definitions (PDF)</a><br/>
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-12 form-group">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>