<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Warning! These comments belong to a record that has been deleted.  They have been preserved to allow a record of the public discussion.</div>
    <%= render partial: "show_all", locals: {comments: @comments} %>
  </div>
</div>