<% content_for :head do %>
<% if !Rails.env.test? %>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript">
  $(document).ready( function () {

    $('.grid').masonry({
      // options
      itemSelector: '.grid-item',
      columnWidth: 350,
      gutter: 10
    });

  });
</script>
<% end %>
<style>
  .grid-item { 
    width: 350px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
   }
  .grid-item .document {
    padding: 5px;
  }
</style>
<% end %>

<div class="grid">
  <% records.each do |record| %>
    <div class="grid-item panel panel-default panel-preview">
      <%= render partial: "#{record.class.name.underscore.pluralize}/preview", locals: {record: record} %>
    </div>
  <% end %>
</div>