<p>Group managers can add entries to their group(s) from this page.</p>
<p>First, select entries by clicking on the box to the left of each entry.  Next, select from the dropdown menu which group to add entries to or remove entries from.  Then, click <b>Add Entry(s)</b> or <b>Remove Entry(s)</b>. The User Group name will appear in the corresponding column below.</p>

<div class="d-flex align-items-center">
  <div class="input-group" style="max-width: 500px;">
    <div class="input-group-prepend">
      <input type="submit" value="Add" class='btn btn-outline-secondary' id="add-to-group"/>
      <input type="submit" value="Remove" class='btn btn-outline-secondary' id="remove-from-group"/>
    </div>
    <% groups = Group.joins(:group_users).where(:group_users => {user: current_user}) %> <!-- don't have to be a manager to add records... -->
    <% if groups.count > 0 %>
    <select class='custom-select' id="group-select">
      <% groups.each do |group| %>
        <option value="<%= group.id %>"><%= group.name %></option>
      <% end %>
    </select>
    <% else %>
    <select name="" id="" class="custom-select" disabled>
      <option value="nil">You have no user groups.</option>
    </select>
    <% end %>
  </div>
  <label class="font-weight-bold ml-3 mb-0">
    Allow editing?
    <input type="checkbox" class="ml-1" value="true" id="editable">
  </label>
</div>