<div class="card">
  <div class="card-header text-center" data-bs-toggle="collapse" data-bs-target="#instructions">
    <strong class='h4'><span class="fas fa-fw fa-question-circle"></span> De Ricci Name Game Instructions <span class="caret"></span></strong>
  </div>
  <div class="card-body collapse collapse show" id="instructions">
    <%= render partial: "pages/partial", locals: {page_name: "De Ricci Game Instructions" } %>
  </div>
</div>