
#header-navbar { background-color: #dddddd; border-color: #d0d0d0; }
.navbar-inverse .navbar-nav > li > a { color: black }

.container-fluid .row { padding-left: 15px; padding-right: 15px; }

/* There's some tweaky stuff in "#header-navbar .navbar-brand" rule that we're overriding here, probably fragile */
#header-navbar .navbar-brand { background: none; overflow: visible; text-indent: 0; color: black; width: auto; }

/* Development link */
#header-navbar .development { display: inline-block; padding-top: 15px; color: red; float: left; }

#search-navbar { margin-bottom: 10px; }

#search-navbar .search-query-form { width: 100%; }

.search-input-group { width: 40%; }

.search-form { font-size: 12px; }

.search-form .form-control { font-size: 12px; }

.search-form .search-fieldset { margin-bottom: 8px; }

/* on Entry view page, move the content block to the right of the sidebar */
.blacklight-catalog-show #content { float: right; }

/* overrides blacklight css */
.page-header { margin: 0 0 10px; }

h1 { font-size: 30px; margin-top: 0; }

.facet_extended_list .facet-values li:nth-child(odd) { background: #f9f9f9 }

/* tighten up whitespace */
.blacklight-catalog-show table { margin-bottom: 5px; }

.record-label { color: #777 }

/* use .compress-whitespace to surround .form-group class elements to tighten up whitespace */

.compress-whitespace .form-group {
    margin-bottom: 10px;
}

.hanging-indent {
    padding-left: 3em;
    text-indent: -3em;
}

/* useful for sticking at the bottom of pages so content doesn't butt right up against bottom */
.spacer-40px {
    height: 40px;
}

/* override blacklight/bootstrap to highlight error fields more prominently */
.has-error .form-control {
    border-width: 2px;
}

/**** Style for various data entry forms */

.input-block .row {
    margin: 2px;
}
.input-block {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: aliceblue;/*#F8F8F8;*/
  transition: all linear 0.5s;
}
/*
.form-group:nth-child(even) > .input-block {
  background-color: #FDFDEE;
}
*/
.input-block.ng-enter {
  opacity: 0;
}
.input-block.ng-enter-active {
  opacity: 1;
}
.input-block.ng-leave {
  opacity: 1;
}
.input-block.ng-leave-active {
  opacity: 0;
}
.remove-link-container {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: 2px solid #dddddd;
  text-align: center;
  border-radius: 16px;
  line-height: 30px;
  background: white;
  font-size: 20px;
}
.form-group.row {
  border-bottom: 1px #eee dashed;
}

.sdbmss-form .provenance-group-container { border-width: 0 0 1px; border-style: none none solid; border-color: #e5e5e5; margin-bottom: 6px; }

/* put on A elements without hrefs */
.sdbmss-form .clickable { cursor: pointer; }

.sdbmss-form .add-link-container { min-width: 15px; min-height: 1px; float: left; }

.sdbmss-form .remove-link-container { min-width: 15px; min-height: 1px; float: left; margin-left: 10px; }

.sdbmss-form .form-group { margin-bottom: 10px; }

.sdbmss-form .col-xs-1,
.sdbmss-form .col-sm-1,
.sdbmss-form .col-md-1,
.sdbmss-form .col-lg-1,
.sdbmss-form .col-xs-2,
.sdbmss-form .col-sm-2,
.sdbmss-form .col-md-2,
.sdbmss-form .col-lg-2,
.sdbmss-form .col-xs-3,
.sdbmss-form .col-sm-3,
.sdbmss-form .col-md-3,
.sdbmss-form .col-lg-3,
.sdbmss-form .col-xs-4,
.sdbmss-form .col-sm-4,
.sdbmss-form .col-md-4,
.sdbmss-form .col-lg-4,
.sdbmss-form .col-xs-5,
.sdbmss-form .col-sm-5,
.sdbmss-form .col-md-5,
.sdbmss-form .col-lg-5,
.sdbmss-form .col-xs-6,
.sdbmss-form .col-sm-6,
.sdbmss-form .col-md-6,
.sdbmss-form .col-lg-6,
.sdbmss-form .col-xs-7,
.sdbmss-form .col-sm-7,
.sdbmss-form .col-md-7,
.sdbmss-form .col-lg-7,
.sdbmss-form .col-xs-8,
.sdbmss-form .col-sm-8,
.sdbmss-form .col-md-8,
.sdbmss-form .col-lg-8,
.sdbmss-form .col-xs-9,
.sdbmss-form .col-sm-9,
.sdbmss-form .col-md-9,
.sdbmss-form .col-lg-9,
.sdbmss-form .col-xs-10,
.sdbmss-form .col-sm-10,
.sdbmss-form .col-md-10,
.sdbmss-form .col-lg-10,
.sdbmss-form .col-xs-11,
.sdbmss-form .col-sm-11,
.sdbmss-form .col-md-11,
.sdbmss-form .col-lg-11,
.sdbmss-form .col-xs-12,
.sdbmss-form .col-sm-12,
.sdbmss-form .col-md-12,
.sdbmss-form .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.sdbmss-form legend { margin-bottom: 10px; }

.sdbmss-form label.col-sm-2, .sdbmss-form label.col-sm-1 { padding-right: 0px; }

/* put this on a div or other container, to make its text content aligned with a label element */
.label-alignment { min-height: 30px; padding-top: 7px; }

.sdbmss-form .red {
    color: red;
}

.sdbmss-form .gray {
    color: gray;
}

.sdbmss-tooltip.qtip {
    width: 600px;
    padding: 10px 13px;
    /*max-width: none;*/
    font-size: 12px;
    font-size: inherit;
    line-height: 1.5em;
    max-width: inherit;
}

.sdbmss-tooltip .qtip-content h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
}

.sdbmss-tooltip .qtip-content p {
    margin-bottom:1em;
}

.sdbmss-tooltip-label {
    cursor: help;
    border-bottom-width: 2px; // double;
    border-bottom-style: dotted;
    border-bottom-color: red;
}

/* tweak .modal-backdrop rule on pages that use UI Bootstrap's modal,
so that gray backdrop shvows up correctly */
.blacklight-entries-edit .modal-backdrop,
.blacklight-entries-new .modal-backdrop,
.blacklight-sources-edit .modal-backdrop,
.blacklight-sources-new .modal-backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1040;
    background-color: #000;
}

.table-compressed > tbody > tr > td,
.table-compressed > thead > tr > th {
    padding: 4px;
}

@media print {
    /* TODO: these 2 rules are a hack to hide the sidebar and stretch out #content to 100%. the result is better than nothing, but it does cut off the right side a bit, for reasons I don't yet know. it also looks very different on Chrome than Firefox. there must be a better way... */
    #sidebar {
        width: 0%;
        display: none;
    }
    .blacklight-catalog-show #content {
        width: 100%;
    }

    /* bootstrap sets 'content' to print the links; turn it off */
    a[href]:after {
        content: "";
    }

}