
#header-navbar { background-color: #dddddd; border-color: #d0d0d0; }
.navbar-inverse .navbar-nav > li > a { color: black }

/* There's some tweaky stuff in "#header-navbar .navbar-brand" rule that we're overriding here, probably fragile */
#header-navbar .navbar-brand { background: none; overflow: visible; text-indent: 0; color: black } /* color: white; } */

.search-input-group { width: 60%; }

/* on Entry view page, move the content block to the right of the sidebar */
.blacklight-catalog-show #content { float: right; }

.blacklight-catalog-show h1 { font-size: 30px; }

/* tighten up whitespace */
.blacklight-catalog-show table { margin-bottom: 5px; }

.record-label { color: #777 }

/**** Style for various data entry forms */

.sdbmss-form .provenance-group-container { border-width: 0 0 1px; border-style: none none solid; border-color: #e5e5e5; margin-bottom: 6px; }

/* put on A elements without hrefs */
.sdbmss-form .clickable { cursor: pointer; }

.sdbmss-form .add-link-container { min-width: 15px; min-height: 1px; float: left; }

.sdbmss-form .remove-link-container { min-width: 15px; min-height: 1px; float: left; margin-left: 10px; }

.sdbmss-form .form-group { margin-bottom: 10px; }

.sdbmss-form .col-xs-1,
.sdbmss-form .col-sm-1,
.sdbmss-form .col-md-1,
.sdbmss-form .col-lg-1,
.sdbmss-form .col-xs-2,
.sdbmss-form .col-sm-2,
.sdbmss-form .col-md-2,
.sdbmss-form .col-lg-2,
.sdbmss-form .col-xs-3,
.sdbmss-form .col-sm-3,
.sdbmss-form .col-md-3,
.sdbmss-form .col-lg-3,
.sdbmss-form .col-xs-4,
.sdbmss-form .col-sm-4,
.sdbmss-form .col-md-4,
.sdbmss-form .col-lg-4,
.sdbmss-form .col-xs-5,
.sdbmss-form .col-sm-5,
.sdbmss-form .col-md-5,
.sdbmss-form .col-lg-5,
.sdbmss-form .col-xs-6,
.sdbmss-form .col-sm-6,
.sdbmss-form .col-md-6,
.sdbmss-form .col-lg-6,
.sdbmss-form .col-xs-7,
.sdbmss-form .col-sm-7,
.sdbmss-form .col-md-7,
.sdbmss-form .col-lg-7,
.sdbmss-form .col-xs-8,
.sdbmss-form .col-sm-8,
.sdbmss-form .col-md-8,
.sdbmss-form .col-lg-8,
.sdbmss-form .col-xs-9,
.sdbmss-form .col-sm-9,
.sdbmss-form .col-md-9,
.sdbmss-form .col-lg-9,
.sdbmss-form .col-xs-10,
.sdbmss-form .col-sm-10,
.sdbmss-form .col-md-10,
.sdbmss-form .col-lg-10,
.sdbmss-form .col-xs-11,
.sdbmss-form .col-sm-11,
.sdbmss-form .col-md-11,
.sdbmss-form .col-lg-11,
.sdbmss-form .col-xs-12,
.sdbmss-form .col-sm-12,
.sdbmss-form .col-md-12,
.sdbmss-form .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.sdbmss-form legend { margin-bottom: 10px; }

.sdbmss-form label.col-sm-2, .sdbmss-form label.col-sm-1 { padding-right: 0px; }

/* make editable-container have the same padding as a label element,
so that editable text is aligned, BUT also make editable-controls have
-7 margin so it's NOT a label. I don't think there's a cleaner way to
do this.  */
.sdbmss-form .editable-container { min-height: 30px; padding-top: 7px; }
.sdbmss-form .editable-container .editable-controls { padding-left: 15px; margin-top: -7px; width: 80%; }

/* without this rule, form compresses its child elements */
.sdbmss-form .editable-container form  { width: 100% }

/* make these buttons smaller so they don't jiggle the page when displayed */
.sdbmss-form .editable-container .btn { font-size:12px; padding: 5px 12px; }

/* editable's css overrides form-control, so override THAT */
.sdbmss-form .editable-input.editable-has-buttons { width: 100%; }

.sdbmss-form a.editable-empty, .sdbmss-form a.editable-empty:hover, .sdbmss-form a.editable-empty:focus { font-style: normal; }

.sdbmss-form .qtip {
font-size: inherit;
line-height: 1.5em;
max-width: inherit;
}
.sdbmss-form .qtip-content p {
margin-bottom:2em;
}

.sdbmss-form .tooltip-label {
cursor: help;
}

.sdbmss-form .inference-flags-container {
    padding-top: 7px;
}

.sdbmss-form .red {
    color: red;
}

.sdbmss-form .gray {
    color: gray;
}

/* tweak .modal-backdrop rule on pages that use UI Bootstrap's modal,
so that gray backdrop shows up correctly */
.blacklight-entries-edit .modal-backdrop,
.blacklight-entries-new .modal-backdrop,
.blacklight-sources-edit .modal-backdrop,
.blacklight-sources-new .modal-backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1040;
    background-color: #000;
}
