<%= activity.user_id.present? ? User.find(activity.user_id).username : "Unknown user" %> <%= activity.event + (activity.event.end_with?("e") ? "" : "e") + "d" %>
<% link_text = SDBMSS::IDS.get_public_id_for_model(activity.item_type, activity.item_id) %>
<% if !link_text %><% link_text = "#{activity.item_type} ##{activity.item_id}" %><% end %>
<a href="<%= send ("edit_" + activity.item_type.underscore + "_path").to_s, activity.item_id %>"><%= link_text %></a>