 <nav>
  <ul class="nav nav-pills nav-stacked ajax-tabs" id="activity_tabs">
    <li><a href="#activity-pane" data-url="/activities/show_all">All Activity</a></li>
    <li><a href="#activity-pane" data-url="/activities/show_all?mine=true">My Activity</a></li>
    <li class='active'><a href="#activity-pane" data-url="/activities/show_all?watched=true">My Watched Records</a></li>
  </ul>
  <ul class="nav nav-stacked" style="border-top: 1px dashed #ddd; margin-top: 5px;">
    <li><a href="/watches">Manage My Watched Records</a></li>
    <% if can? :manage, Activity %>
      <li><%= link_to "Manage Activity", activities_path %></li>
    <% end %>
  </ul>
</nav>