<div class="">
  <% if version.details.count == 0 %>
    No changes to display...
  <% else %>
    <% version.details.each_with_index do |d, index| %>
      <p>
      <% d = d.split(":") %>
      <strong><%= d[0] %>:</strong> <%= d[1] %></span>
    <% end %>
    </p>
  <% end %>
</div>