<div class="">
  <% if version.details.count == 0 %>
    No changes to display...
  <% else %>
    <% version.details.each_with_index do |d, index| %>
      <p>
      <%= sanitize simple_format d %>
    <% end %>
    </p>
  <% end %>
</div>