<div class="row">
    <div class="col-sm-12">
        
    <ul class="nav nav-tabs">
      <% if current_user.role == "admin" %>
          <li><a data-toggle="tab" href="#admin">Admin</a></li>
      <% end %>
      <li class="active"><a data-toggle="tab" href="#activity">Recent Activity</a></li>
    </ul>

    <div class="tab-content">
      <div id="activity" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
      </div>
      <% if current_user.role == "admin" %>
          <div id="admin" class="tab-pane fade">
            <%= render partial: "admin" %>
          </div>
      <% end %>
    </div>
    
    </div>
</div>
