<%= content_for :breadcrumbs do %>
    <li class="breadcrumb list-group-item active">
      <a href="/activities">Recent Activity</a>
    </li>
<% end %>

<div class="row">
    <div class="col-sm-12">
        
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#admin">Admin</a></li>
      <li><a data-toggle="tab" href="#activity">Recent Activity</a></li>
    </ul>

    <div class="tab-content">
      <div id="activity" class="tab-pane fade">
        <h3>HOME</h3>
        <p>Some content.</p>
      </div>
      <div id="admin" class="tab-pane fade in active">
        <%= render partial: "admin" %>
      </div>
    </div>
    
    </div>
</div>
