<li>
    <a data-ajax-modal="trigger" href="/manuscripts/<%= @manuscript.id %>/citation">Cite</a>
</li>
<% if can? :link, @manuscript %>
<li class="manage_entry">
    <a href="<%= linking_tool_by_manuscript_path(@manuscript.id) %>"><span class="glyphicon glyphicon-link"></span> Linking Tool for <%= @manuscript.public_id %></a>
</li>
<li>
    <a href="#proposed-history" class='toggle-propose-history' data-toggle="collapse">
      <span class="glyphicon glyphicon-header"></span>
      Construct History<span sdbm-tooltip="manuscript_propose_history"></span>
    </a>
</li>
<%= render partial: "nav/bookmark_watch", locals: {model: @manuscript } %>
<% end %>