<% content_for :head do %>
  <%= stylesheet_link_tag "extras", media: "all" %>
  <%= javascript_include_tag "extras" %>
  <style>
    td {
      min-width: 400px;
      max-width: 400px;
    }
    td:first-child {
      min-width: 10px;
      font-weight: bold;
      text-align: left;
      padding-right: 10px;
      *background: white;
    }
    th {
      font-size: 18px;
    }
  </style>
  <script>
    $(document).ready(function () {
      $('#main-container').toggleClass('container').toggleClass('container-fluid');

      $.get(window.location.pathname + ".json?preview=true", function (json) {
        //console.log(json);
        var data = [], columns = [{title: ""}], first = [];
        for (var i = 0 ; i < json.length; i++) {
          columns.push({title: "SDBM_" + json[i]["id"]});
        }
        for (var key in json[0]) {
          d = [key];
          for (var i = 0; i < json.length; i++) {
            if (json[i][key])
              d.push(json[i][key]);
            else
              d.push('<span class="text-muted glyphicon glyphicon-option-horizontal"></span>')
          }
          data.push(d);
        }
        //console.log(data, columns, first);
        var datatables_options = {
          data: data,
          columns: columns,
          paging: false,
          ordering: false,
          searching: false,
          fixedColumns: {
            leftColumns: 1
          },
          scrollX: true,
          fixedHeader: true,
          dom: "t",
          scrollY: 'calc(100vh - 240px)',
          scrollCollapse: true,
        }
        var table = $('#example').dataTable(datatables_options);
        new $.fn.dataTable.FixedColumns( table );
        //
      });
    });
  </script>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <div class="text-center"><span class="h3"><%= @manuscript.public_id %></span></div>
    <p class="text-info">Note: This <b>Manuscript Record</b> aggregates <b>Entries</b> citing a manuscript that is mentioned in <b>Sources</b> or <b>Observations</b>.  Do not assume that the manuscript is held by the University of Pennsylvania Libraries.</p>
  </div>
</div>
<table id="example" class="display sdbm-table table-striped dataTable compact" cellspacing="0" width="100%"></table>