<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">The New SDBM <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#TODO">About</a></li>
            <li><a href="/static/docs/sdbm_user_manual.pdf" target="_blank">User Manual</a></li>
            <li><a href="#TODO">Project History</a></li>
            <li><a href="#TODO">Technical Overview</a></li>
            <!--
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            -->
        </ul>
    </li>

    <% if user_signed_in? %>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Searches <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <%= render_nav_actions do |config, action| %>
            <li><%= action %></li>
            <% end %>
        </ul>
    </li>
    <li><a href="<%= dashboard_path %>">Dashboard</a></li>
    <% end %>

  </ul>

  <% if has_user_authentication_provider? %>
    <ul class="nav navbar-nav">
      <% if current_user %>
      <li>
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %>
      </li>
      <% unless current_user.to_s.blank? -%>
      <li>
        <%= link_to current_user, edit_user_registration_path %>
      </li>
      <% end %>
      <% if request.path != "/bookmarks" %>
        <li>
          <%= render partial: "bookmarks/navbar" %>
        </li>
      <% end %>
      <% else %>
      <li>
        <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
      </li>
      <% end %>
      </ul>
  <% end %>
</div>
