<% new_count = current_user.new_notifications.count %>
<li class="dropdown">
<a id='notifications-dropdown-control' href="#notifications-dropdown" data-toggle="collapse" class='dropdown-toggle <%= new_count > 0 ? 'notifications-count' : ''%>' new-notifications="<%= current_user.new_notifications.count %>">
  <span class="glyphicon glyphicon-bell"></span> Notifications
  <span class="caret"></span>
</a>
<div class="collapse" id="notifications-dropdown" style="background: #f8f8f8">
  <%= render partial: "notifications/index", locals: {notifications: current_user.notifications.last(10).reverse } %>
  <div class='text-center' style='background: #eee;'><%= link_to "Manage Notifications", notifications_path %></div>
</div>
</li>