<p><%= @authors.count %> records found.</p>
<table class="table">
    <thead>
        <th>ID</th>
        <th>Name</th>
    </thead>
    <tbody>
        <% @authors.each do |author| %>
        <tr>
            <td><%= author.id %></td>
            <td><%= author.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>
