
<h2>Reports</h2>

<table class="table">
    <tr>
        <td>List of artists</td>
        <td><a href="<%= reports_artists_path %>">HTML</a></td>
        <td><a href="<%= reports_artists_path %>">CSV</a></td>
    </tr>
    <tr>
        <td>List of authors</td>
        <td><a href="<%= reports_authors_path %>">HTML</a></td>
        <td><a href="<%= reports_authors_path %>">CSV</a></td>
    </tr>
    <tr>
        <td>List of provenance agents</td>
        <td><a href="#TODO">HTML</a></td>
        <td><a href="#TODO">CSV</a></td>
    </tr>
    <tr>
        <td>List of scribes</td>
        <td><a href="#TODO">HTML</a></td>
        <td><a href="#TODO">CSV</a></td>
    </tr>
</p>
