<%= render partial: "header", locals: {title: "NEW"} %>

<div class="panel panel-default" style="margin-top: 10px;">
  <div class="panel-body">
    <%= render partial: "form", locals: {message: nil, from: [], title: nil} %>
  </div>
</div>