<%#= render_document_index %>
<% content_for :head do %>
<script>

$(document).ready(function() {
    $('#example').DataTable({
        serverSide: true,
        "ajax": function (data, callback, settings) {
            $.ajax({
                url: '/admin.json?utf8=%E2%9C%93&search_field=all_fields&q=',
                success: function(data, textStatus, jqXHR) {
                    transformed = data.map(function(item) {
                        return [ item.id, item.folios ]
                    }, data);
                    console.log(transformed);
                    callback({ "draw": 1, "recordsTotal": 653, "recordsFiltered": 653, data: transformed });
                }
            });
        }
    });
});

</script>
<% end %>

<table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Folios</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
