  <div class="field form-group row">
    <label for="" class="control-label col-sm-2" sdbm-tooltip="place_name">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="place.name" name="place_name">
    </div>
  </div>
  <div class="field form-group row">
    <label for="" class="control-label col-sm-2" sdbm-tooltip="place_latitude">Latitude</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="place.latitude">
    </div>
    <label for="" class="control-label col-sm-2" sdbm-tooltip="place_longitude">Longitude</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="place.longitude">
    </div>
  </div>
  <div class="field form-group row">
    <label for="" class="control-label col-sm-2" sdbm-tooltip="place_authoritysource">Authority Source</label>
    <div class="col-sm-4">
      <select name="" id="" class="form-control" ng-model="place.authority_source">
        <option value="http://vocab.getty.edu/tgn">Getty.edu</option>
        <option value="http://www.geonames.org">GeoNames.org</option>
        <option value=" https://viaf.org/viaf">Viaf.org</option>
      </select>
    </div>
    <label for="" class="control-label col-sm-2" ng-click="queryURL()" href="">
      <span class="glyphicon glyphicon-export"></span> Authority Id
    </label>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-btn">
          <a href="" class="btn btn-default" ng-click="queryAuthority()">
            <span class="glyphicon glyphicon-globe"></span>
          </a>
        </span>
        <input type="text" class="form-control" ng-model="place.authority_id">
      </div>
    </div>
  </div>
  <div class="field form-group row">
    <label for="" class="control-label col-sm-2" sdbm-tooltip="place_evidence">Evidence</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="place.evidence">
    </div>
  </div>
  <div class="field form-group row">
    <label for="" class="control-label col-sm-2" sdbm-tooltip="place_parent">Parent</label>
    <div class="col-sm-10">
      <a ng-show='place.parent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal(place.parent, 'place')">
        Find or Create Parent Place
      </a>
      <div ng-if='place.parent !== undefined && place.parent.id !== undefined' class="well well-sm well-name-authority">
          <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(place, 'parent')"></a> <!-- remove name! -->
          <a href="/places/{{ place.parent.id }}" target="_blank">{{ place.parent.name }}</a>
      </div>
    </div>
  </div>